* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ElectronicArtsDisplay";
  src: url(../../assets/fonts/ElectronicArtsDisplay-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsDisplay";
  src: url(../../assets/fonts/ElectronicArtsDisplay-Bold.woff2) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Light.woff2) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-LightItalic.woff2) format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Italic.woff2) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Bold.woff2) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-BoldItalic.woff2) format("woff");
  font-weight: 600;
  font-style: italic;
}
/*tipografia*/
/*unisco le liste per estrarre i root*/
/*root*/
:root {
  --body-font-size-mobile: 16px;
  --body-font-size-tablet: 18px;
  --body-font-size-desktop: 18px;
  --body-font-family-ElectronicArtsText: "ElectronicArtsText", Verdana, Helvetica, Arial, sans-serif;
  --body-font-weight-light: 300;
  --body-font-weight-normal: 400;
  --body-font-weight-bold: 600;
  --body-letter-spacing-mobile: normal;
  --body-letter-spacing-tablet: normal;
  --body-letter-spacing-desktop: normal;
  --body-line-height-mobile: 1.65;
  --body-line-height-tablet: 1.5;
  --body-line-height-desktop: 1.5;
  --h1-font-size-mobile: 40px;
  --h1-font-size-tablet: 44px;
  --h1-font-size-desktop: 48px;
  --h1-font-weight-400: 400;
  --h1-letter-spacing-mobile: normal;
  --h1-letter-spacing-tablet: normal;
  --h1-letter-spacing-desktop: normal;
  --h1-line-height-mobile: 1.25;
  --h1-line-height-tablet: 1.25;
  --h1-line-height-desktop: 1.35;
  --h2-font-size-mobile: 32px;
  --h2-font-size-tablet: 36px;
  --h2-font-size-desktop: 40px;
  --h2-font-weight-400: 400;
  --h2-letter-spacing-mobile: normal;
  --h2-letter-spacing-tablet: normal;
  --h2-letter-spacing-desktop: normal;
  --h2-line-height-mobile: 1.25;
  --h2-line-height-tablet: 1.25;
  --h2-line-height-desktop: 1.35;
  --h3-font-size-mobile: 28px;
  --h3-font-size-tablet: 32px;
  --h3-font-size-desktop: 36px;
  --h3-letter-spacing-desktop: normal;
  --h3-letter-spacing-tablet: normal;
  --h3-letter-spacing-mobile: normal;
  --h3-line-height-desktop: 1.35;
  --h3-line-height-tablet: 1.25;
  --h3-line-height-mobile: 1.25;
  --h3-font-weight-400: 400;
  --h4-font-size-mobile: 20px;
  --h4-font-size-tablet: 24px;
  --h4-font-size-desktop: 24px;
  --h4-letter-spacing-desktop: normal;
  --h4-letter-spacing-tablet: normal;
  --h4-letter-spacing-mobile: normal;
  --h4-line-height-desktop: 1.35;
  --h4-line-height-tablet: 1.25;
  --h4-line-height-mobile: 1.25;
  --h4-font-weight-400: 400;
  --h5-font-size-mobile: 20px;
  --h5-font-size-tablet: 24px;
  --h5-font-size-desktop: 24px;
  --h5-letter-spacing-mobile: -0.025em;
  --h5-letter-spacing-tablet: -0.025em;
  --h5-letter-spacing-desktop: -0.025em;
  --h5-line-height-desktop: 1.35;
  --h5-line-height-tablet: 1.25;
  --h5-line-height-mobile: 1.25;
  --h5-font-weight-400: 400;
  --h6-font-size-mobile: 20px;
  --h6-font-size-tablet: 24px;
  --h6-font-size-desktop: 24px;
  --h6-letter-spacing-mobile: -0.025em;
  --h6-letter-spacing-tablet: -0.025em;
  --h6-letter-spacing-desktop: -0.025em;
  --h6-line-height-desktop: 1.35;
  --h6-line-height-tablet: 1.25;
  --h6-line-height-mobile: 1.25;
  --h6-font-weight-400: 400;
  --d1-font-size-mobile: 50px;
  --d1-font-size-tablet: 64px;
  --d1-font-size-desktop: 80px;
  --d1-letter-spacing-mobile: normal;
  --d1-letter-spacing-tablet: normal;
  --d1-letter-spacing-desktop: normal;
  --d1-line-height-mobile: 1.15;
  --d1-line-height-tablet: 1.15;
  --d1-line-height-desktop: 1.15;
  --d1-font-style-normal: normal;
  --d1-font-weight-600: 600;
  --d1-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d2-font-size-mobile: 42px;
  --d2-font-size-tablet: 54px;
  --d2-font-size-desktop: 68px;
  --d2-letter-spacing-mobile: normal;
  --d2-letter-spacing-tablet: normal;
  --d2-letter-spacing-desktop: normal;
  --d2-line-height-mobile: 1.15;
  --d2-line-height-tablet: 1.15;
  --d2-line-height-desktop: 1.15;
  --d2-font-style-normal: normal;
  --d2-font-weight-600: 600;
  --d2-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d3-font-size-mobile: 36px;
  --d3-font-size-tablet: 44px;
  --d3-font-size-desktop: 54px;
  --d3-letter-spacing-mobile: normal;
  --d3-letter-spacing-tablet: normal;
  --d3-letter-spacing-desktop: normal;
  --d3-line-height-mobile: 1.15;
  --d3-line-height-tablet: 1.15;
  --d3-line-height-desktop: 1.15;
  --d3-font-style-normal: normal;
  --d3-font-weight-600: 600;
  --d3-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d4-font-size-mobile: 32px;
  --d4-font-size-tablet: 40px;
  --d4-font-size-desktop: 44px;
  --d4-letter-spacing-mobile: normal;
  --d4-letter-spacing-tablet: normal;
  --d4-letter-spacing-desktop: normal;
  --d4-line-height-mobile: 1.15;
  --d4-line-height-tablet: 1.15;
  --d4-line-height-desktop: 1.15;
  --d4-font-style-normal: normal;
  --d4-font-weight-600: 600;
  --d4-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d5-font-size-mobile: 22px;
  --d5-font-size-desktop: 32px;
  --d5-letter-spacing-normal: normal;
  --d5-line-height-100: 100%;
  --d5-font-style-normal: normal;
  --d5-font-weight-600: 600;
  --d5-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d6-font-size-mobile: 20px;
  --d6-font-size-desktop: 24px;
  --d6-letter-spacing-normal: normal;
  --d6-line-height-100: 100%;
  --d6-font-style-normal: normal;
  --d6-font-weight-600: 600;
  --d6-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l1-font-size-mobile: 24px;
  --l1-font-size-tablet: 24px;
  --l1-font-size-desktop: 26px;
  --l1-font-weight-600: 600;
  --l1-letter-spacing-normal: normal;
  --l1-line-height-mobile: 1.35;
  --l1-line-height-tablet: 1.35;
  --l1-line-height-desktop: 1.35;
  --l1-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l2-font-size-mobile: 14px;
  --l2-font-size-tablet: 14px;
  --l2-font-size-desktop: 16px;
  --l2-font-weight-600: 600;
  --l2-letter-spacing-normal: normal;
  --l2-line-height-mobile: 1.35;
  --l2-line-height-tablet: 1.35;
  --l2-line-height-desktop: 1.35;
  --l2-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l3-font-size-mobile: 14px;
  --l3-font-size-desktop: 16px;
  --l3-font-style-normal: normal;
  --l3-font-weight-600: 600;
  --l3-letter-spacing-normal: normal;
  --l3-line-height-100: 100%;
  --l3-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l4-font-size-mobile: 14px;
  --l4-font-size-desktop: 14px;
  --l4-font-style-normal: normal;
  --l4-font-weight-600: 600;
  --l4-letter-spacing-normal: normal;
  --l4-line-height-100: 100%;
  --l4-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --b1-font-size-mobile: 20px;
  --b1-font-size-tablet: 20px;
  --b1-font-size-desktop: 24px;
  --b1-letter-spacing-mobile: normal;
  --b1-letter-spacing-tablet: normal;
  --b1-letter-spacing-desktop: normal;
  --b1-line-height-mobile: 1.65;
  --b1-line-height-tablet: 1.5;
  --b1-line-height-desktop: 1.5;
  --b2-font-size-mobile: 16px;
  --b2-font-size-tablet: 18px;
  --b2-font-size-desktop: 18px;
  --b2-letter-spacing-mobile: normal;
  --b2-letter-spacing-tablet: normal;
  --b2-letter-spacing-desktop: normal;
  --b2-line-height-mobile: 1.65;
  --b2-line-height-tablet: 1.5;
  --b2-line-height-desktop: 1.5;
  --b3-font-size-mobile: 14px;
  --b3-font-size-desktop: 16px;
  --b3-letter-spacing-mobile: normal;
  --b3-letter-spacing-tablet: normal;
  --b3-letter-spacing-desktop: normal;
  --b3-line-height-mobile: 1.65;
  --b3-line-height-desktop: 1.5;
  --btn-font-family-ElectronicArtsText: "ElectronicArtsText", Verdana, Helvetica, Arial, sans-serif;
  --btn-font-size-mobile: 16px;
  --btn-font-size-tablet: 18px;
  --btn-font-size-desktop: 18px;
  --btn-line-height-mobile: 1.65;
  --btn-line-height-tablet: 1.5;
  --btn-line-height-desktop: 1.5;
  --btn-font-weight-normal: normal;
  --btn-letter-spacing-normal: normal;
  --btn-text-decoration-none: none;
  --nav-bar-1-font-size-16: 16px;
  --nav-bar-1-font-family-open-sans: open-sans, "Verdana", "Helvetica", "Arial", sans-serif;
  --nav-bar-1-line-height-1_35: 1.35;
  --nav-bar-1-text-decoration-none: none;
  --nav-bar-1-color-inherit: inherit;
  --nav-link-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --nav-link-font-size-mobile: 15px;
  --nav-link-font-size-tablet: 17px;
  --nav-link-font-size-desktop: 17px;
  --nav-link-line-height-mobile: 1.65;
  --nav-link-line-height-tablet: 1.5;
  --nav-link-line-height-desktop: 1.5;
  --nav-link-font-weight-normal: normal;
  --nav-link-letter-spacing-normal: normal;
  --nav-link-text-decoration-none: none;
  --nav-link-color-inherit: inherit;
  --nav-dropdown-item-font-size-mobile: 16px;
  --nav-dropdown-item-font-size-tablet: 16px;
  --nav-dropdown-item-font-size-desktop: 16px;
  --nav-dropdown-item-font-weight-300: 300;
  --nav-dropdown-item-text-decoration-none: none;
  --nav-dropdown-item-title-font-weight-700: 700;
  --nav-dropdown-item-title-text-decoration-none: none;
  --title-font-weight-bold: bold;
}

/*selectors*/
body {
  font-size: var(--body-font-size-mobile);
  font-family: var(--body-font-family-ElectronicArtsText);
  font-weight: var(--body-font-weight-light);
  font-weight: var(--body-font-weight-normal);
  font-weight: var(--body-font-weight-bold);
  letter-spacing: var(--body-letter-spacing-mobile);
  line-height: var(--body-line-height-mobile);
}

h1 {
  font-size: var(--h1-font-size-mobile);
  font-weight: var(--h1-font-weight-400);
  letter-spacing: var(--h1-letter-spacing-mobile);
  line-height: var(--h1-line-height-mobile);
}

h2 {
  font-size: var(--h2-font-size-mobile);
  font-weight: var(--h2-font-weight-400);
  letter-spacing: var(--h2-letter-spacing-mobile);
  line-height: var(--h2-line-height-mobile);
}

h3 {
  font-size: var(--h3-font-size-mobile);
  letter-spacing: var(--h3-letter-spacing-mobile);
  line-height: var(--h3-line-height-mobile);
  font-weight: var(--h3-font-weight-400);
}

h4 {
  font-size: var(--h4-font-size-mobile);
  letter-spacing: var(--h4-letter-spacing-mobile);
  line-height: var(--h4-line-height-mobile);
  font-weight: var(--h4-font-weight-400);
}

h5 {
  font-size: var(--h5-font-size-mobile);
  letter-spacing: var(--h5-letter-spacing-mobile);
  line-height: var(--h5-line-height-mobile);
  font-weight: var(--h5-font-weight-400);
}

h6 {
  font-size: var(--h6-font-size-mobile);
  letter-spacing: var(--h6-letter-spacing-mobile);
  line-height: var(--h6-line-height-mobile);
  font-weight: var(--h6-font-weight-400);
}

@media only screen and (min-width: 1456px) {
  body {
    font-size: var(--body-font-size-desktop);
    letter-spacing: var(--body-letter-spacing-desktop);
    line-height: var(--body-line-height-desktop);
  }
  h1 {
    font-size: var(--h1-font-size-desktop);
    letter-spacing: var(--h1-letter-spacing-desktop);
    line-height: var(--h1-line-height-desktop);
  }
  h2 {
    font-size: var(--h2-font-size-desktop);
    letter-spacing: var(--h2-letter-spacing-desktop);
    line-height: var(--h2-line-height-desktop);
  }
  h3 {
    font-size: var(--h3-font-size-desktop);
    letter-spacing: var(--h3-letter-spacing-desktop);
    line-height: var(--h3-line-height-desktop);
  }
  h4 {
    font-size: var(--h4-font-size-desktop);
    letter-spacing: var(--h4-letter-spacing-desktop);
    line-height: var(--h4-line-height-desktop);
  }
  h5 {
    font-size: var(--h5-font-size-desktop);
    letter-spacing: var(--h5-letter-spacing-desktop);
    line-height: var(--h5-line-height-desktop);
  }
  h6 {
    font-size: var(--h6-font-size-desktop);
    letter-spacing: var(--h6-letter-spacing-desktop);
    line-height: var(--h6-line-height-desktop);
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: var(--body-font-size-tablet);
    letter-spacing: var(--body-letter-spacing-tablet);
    line-height: var(--body-line-height-tablet);
  }
  h1 {
    font-size: var(--h1-font-size-tablet);
    letter-spacing: var(--h1-letter-spacing-tablet);
    line-height: var(--h1-line-height-tablet);
  }
  h2 {
    font-size: var(--h2-font-size-tablet);
    letter-spacing: var(--h2-letter-spacing-tablet);
    line-height: var(--h2-line-height-tablet);
  }
  h3 {
    font-size: var(--h3-font-size-tablet);
    letter-spacing: var(--h3-letter-spacing-tablet);
    line-height: var(--h3-line-height-tablet);
  }
  h4 {
    font-size: var(--h4-font-size-tablet);
    letter-spacing: var(--h4-letter-spacing-tablet);
    line-height: var(--h4-line-height-tablet);
  }
  h5 {
    font-size: var(--h5-font-size-tablet);
    letter-spacing: var(--h5-letter-spacing-tablet);
    line-height: var(--h5-line-height-tablet);
  }
  h6 {
    font-size: var(--h6-font-size-tablet);
    letter-spacing: var(--h6-letter-spacing-tablet);
    line-height: var(--h6-line-height-tablet);
  }
}
/*clasess*/
.d1 {
  font-size: var(--d1-font-size-mobile);
  letter-spacing: var(--d1-letter-spacing-mobile);
  line-height: var(--d1-line-height-mobile);
  font-style: var(--d1-font-style-normal);
  font-weight: var(--d1-font-weight-600);
  font-family: var(--d1-font-family-ElectronicArtsDisplay);
}

.d2 {
  font-size: var(--d2-font-size-mobile);
  letter-spacing: var(--d2-letter-spacing-mobile);
  line-height: var(--d2-line-height-mobile);
  font-style: var(--d2-font-style-normal);
  font-weight: var(--d2-font-weight-600);
  font-family: var(--d2-font-family-ElectronicArtsDisplay);
}

.d3 {
  font-size: var(--d3-font-size-mobile);
  letter-spacing: var(--d3-letter-spacing-mobile);
  line-height: var(--d3-line-height-mobile);
  font-style: var(--d3-font-style-normal);
  font-weight: var(--d3-font-weight-600);
  font-family: var(--d3-font-family-ElectronicArtsDisplay);
}

.d4 {
  font-size: var(--d4-font-size-mobile);
  letter-spacing: var(--d4-letter-spacing-mobile);
  line-height: var(--d4-line-height-mobile);
  font-style: var(--d4-font-style-normal);
  font-weight: var(--d4-font-weight-600);
  font-family: var(--d4-font-family-ElectronicArtsDisplay);
}

.d5 {
  font-size: var(--d5-font-size-mobile);
  letter-spacing: var(--d5-letter-spacing-normal);
  line-height: var(--d5-line-height-100);
  font-style: var(--d5-font-style-normal);
  font-weight: var(--d5-font-weight-600);
  font-family: var(--d5-font-family-ElectronicArtsDisplay);
}

.d6 {
  font-size: var(--d6-font-size-mobile);
  letter-spacing: var(--d6-letter-spacing-normal);
  line-height: var(--d6-line-height-100);
  font-style: var(--d6-font-style-normal);
  font-weight: var(--d6-font-weight-600);
  font-family: var(--d6-font-family-ElectronicArtsDisplay);
}

.h1 {
  font-size: var(--h1-font-size-mobile);
  font-weight: var(--h1-font-weight-400);
  letter-spacing: var(--h1-letter-spacing-mobile);
  line-height: var(--h1-line-height-mobile);
}

.h2 {
  font-size: var(--h2-font-size-mobile);
  font-weight: var(--h2-font-weight-400);
  letter-spacing: var(--h2-letter-spacing-mobile);
  line-height: var(--h2-line-height-mobile);
}

.h3 {
  font-size: var(--h3-font-size-mobile);
  letter-spacing: var(--h3-letter-spacing-mobile);
  line-height: var(--h3-line-height-mobile);
  font-weight: var(--h3-font-weight-400);
}

.h4 {
  font-size: var(--h4-font-size-mobile);
  letter-spacing: var(--h4-letter-spacing-mobile);
  line-height: var(--h4-line-height-mobile);
  font-weight: var(--h4-font-weight-400);
}

.h5 {
  font-size: var(--h5-font-size-mobile);
  letter-spacing: var(--h5-letter-spacing-mobile);
  line-height: var(--h5-line-height-mobile);
  font-weight: var(--h5-font-weight-400);
}

.h6 {
  font-size: var(--h6-font-size-mobile);
  letter-spacing: var(--h6-letter-spacing-mobile);
  line-height: var(--h6-line-height-mobile);
  font-weight: var(--h6-font-weight-400);
}

.l1 {
  font-size: var(--l1-font-size-mobile);
  font-weight: var(--l1-font-weight-600);
  letter-spacing: var(--l1-letter-spacing-normal);
  line-height: var(--l1-line-height-mobile);
  font-family: var(--l1-font-family-ElectronicArtsDisplay);
}

.l2 {
  font-size: var(--l2-font-size-mobile);
  font-weight: var(--l2-font-weight-600);
  letter-spacing: var(--l2-letter-spacing-normal);
  line-height: var(--l2-line-height-mobile);
  font-family: var(--l2-font-family-ElectronicArtsDisplay);
}

.l3 {
  font-size: var(--l3-font-size-mobile);
  font-style: var(--l3-font-style-normal);
  font-weight: var(--l3-font-weight-600);
  letter-spacing: var(--l3-letter-spacing-normal);
  line-height: var(--l3-line-height-100);
  font-family: var(--l3-font-family-ElectronicArtsDisplay);
}

.l4 {
  font-size: var(--l4-font-size-mobile);
  font-style: var(--l4-font-style-normal);
  font-weight: var(--l4-font-weight-600);
  letter-spacing: var(--l4-letter-spacing-normal);
  line-height: var(--l4-line-height-100);
  font-family: var(--l4-font-family-ElectronicArtsDisplay);
}

.b1 {
  font-size: var(--b1-font-size-mobile);
  letter-spacing: var(--b1-letter-spacing-mobile);
  line-height: var(--b1-line-height-mobile);
}

.b2 {
  font-size: var(--b2-font-size-mobile);
  letter-spacing: var(--b2-letter-spacing-mobile);
  line-height: var(--b2-line-height-mobile);
}

.b3 {
  font-size: var(--b3-font-size-mobile);
  letter-spacing: var(--b3-letter-spacing-mobile);
  line-height: var(--b3-line-height-mobile);
}

.btn {
  font-family: var(--btn-font-family-ElectronicArtsText);
  font-size: var(--btn-font-size-mobile);
  line-height: var(--btn-line-height-mobile);
  font-weight: var(--btn-font-weight-normal);
  letter-spacing: var(--btn-letter-spacing-normal);
  text-decoration: var(--btn-text-decoration-none);
}

.nav-bar-1 {
  font-size: var(--nav-bar-1-font-size-16);
  font-family: var(--nav-bar-1-font-family-open-sans);
  line-height: var(--nav-bar-1-line-height-1_35);
  text-decoration: var(--nav-bar-1-text-decoration-none);
  color: var(--nav-bar-1-color-inherit);
}

.nav-link {
  font-family: var(--nav-link-font-family-ElectronicArtsDisplay);
  font-size: var(--nav-link-font-size-mobile);
  line-height: var(--nav-link-line-height-mobile);
  font-weight: var(--nav-link-font-weight-normal);
  letter-spacing: var(--nav-link-letter-spacing-normal);
  text-decoration: var(--nav-link-text-decoration-none);
  color: var(--nav-link-color-inherit);
}

.nav-dropdown-item {
  font-size: var(--nav-dropdown-item-font-size-mobile);
  font-weight: var(--nav-dropdown-item-font-weight-300);
  text-decoration: var(--nav-dropdown-item-text-decoration-none);
}

.nav-dropdown-item-title {
  font-weight: var(--nav-dropdown-item-title-font-weight-700);
  text-decoration: var(--nav-dropdown-item-title-text-decoration-none);
}

.title {
  font-weight: var(--title-font-weight-bold);
}

@media only screen and (min-width: 1456px) {
  .d1 {
    font-size: var(--d1-font-size-desktop);
    letter-spacing: var(--d1-letter-spacing-desktop);
    line-height: var(--d1-line-height-desktop);
  }
  .d2 {
    font-size: var(--d2-font-size-desktop);
    letter-spacing: var(--d2-letter-spacing-desktop);
    line-height: var(--d2-line-height-desktop);
  }
  .d3 {
    font-size: var(--d3-font-size-desktop);
    letter-spacing: var(--d3-letter-spacing-desktop);
    line-height: var(--d3-line-height-desktop);
  }
  .d4 {
    font-size: var(--d4-font-size-desktop);
    letter-spacing: var(--d4-letter-spacing-desktop);
    line-height: var(--d4-line-height-desktop);
  }
  .d5 {
    font-size: var(--d5-font-size-desktop);
  }
  .d6 {
    font-size: var(--d6-font-size-desktop);
  }
  .h1 {
    font-size: var(--h1-font-size-desktop);
    letter-spacing: var(--h1-letter-spacing-desktop);
    line-height: var(--h1-line-height-desktop);
  }
  .h2 {
    font-size: var(--h2-font-size-desktop);
    letter-spacing: var(--h2-letter-spacing-desktop);
    line-height: var(--h2-line-height-desktop);
  }
  .h3 {
    font-size: var(--h3-font-size-desktop);
    letter-spacing: var(--h3-letter-spacing-desktop);
    line-height: var(--h3-line-height-desktop);
  }
  .h4 {
    font-size: var(--h4-font-size-desktop);
    letter-spacing: var(--h4-letter-spacing-desktop);
    line-height: var(--h4-line-height-desktop);
  }
  .h5 {
    font-size: var(--h5-font-size-desktop);
    letter-spacing: var(--h5-letter-spacing-desktop);
    line-height: var(--h5-line-height-desktop);
  }
  .h6 {
    font-size: var(--h6-font-size-desktop);
    letter-spacing: var(--h6-letter-spacing-desktop);
    line-height: var(--h6-line-height-desktop);
  }
  .l1 {
    font-size: var(--l1-font-size-desktop);
    line-height: var(--l1-line-height-desktop);
  }
  .l2 {
    font-size: var(--l2-font-size-desktop);
    line-height: var(--l2-line-height-desktop);
  }
  .l3 {
    font-size: var(--l3-font-size-desktop);
  }
  .l4 {
    font-size: var(--l4-font-size-desktop);
  }
  .b1 {
    font-size: var(--b1-font-size-desktop);
    letter-spacing: var(--b1-letter-spacing-desktop);
    line-height: var(--b1-line-height-desktop);
  }
  .b2 {
    font-size: var(--b2-font-size-desktop);
    letter-spacing: var(--b2-letter-spacing-desktop);
    line-height: var(--b2-line-height-desktop);
  }
  .b3 {
    font-size: var(--b3-font-size-desktop);
    letter-spacing: var(--b3-letter-spacing-desktop);
    line-height: var(--b3-line-height-desktop);
  }
  .btn {
    font-size: var(--btn-font-size-desktop);
    line-height: var(--btn-line-height-desktop);
  }
  .nav-link {
    font-size: var(--nav-link-font-size-desktop);
    line-height: var(--nav-link-line-height-desktop);
  }
  .nav-dropdown-item {
    font-size: var(--nav-dropdown-item-font-size-desktop);
  }
}
@media only screen and (min-width: 1024px) {
  .d1 {
    font-size: var(--d1-font-size-tablet);
    letter-spacing: var(--d1-letter-spacing-tablet);
    line-height: var(--d1-line-height-tablet);
  }
  .d2 {
    font-size: var(--d2-font-size-tablet);
    letter-spacing: var(--d2-letter-spacing-tablet);
    line-height: var(--d2-line-height-tablet);
  }
  .d3 {
    font-size: var(--d3-font-size-tablet);
    letter-spacing: var(--d3-letter-spacing-tablet);
    line-height: var(--d3-line-height-tablet);
  }
  .d4 {
    font-size: var(--d4-font-size-tablet);
    letter-spacing: var(--d4-letter-spacing-tablet);
    line-height: var(--d4-line-height-tablet);
  }
  .h1 {
    font-size: var(--h1-font-size-tablet);
    letter-spacing: var(--h1-letter-spacing-tablet);
    line-height: var(--h1-line-height-tablet);
  }
  .h2 {
    font-size: var(--h2-font-size-tablet);
    letter-spacing: var(--h2-letter-spacing-tablet);
    line-height: var(--h2-line-height-tablet);
  }
  .h3 {
    font-size: var(--h3-font-size-tablet);
    letter-spacing: var(--h3-letter-spacing-tablet);
    line-height: var(--h3-line-height-tablet);
  }
  .h4 {
    font-size: var(--h4-font-size-tablet);
    letter-spacing: var(--h4-letter-spacing-tablet);
    line-height: var(--h4-line-height-tablet);
  }
  .h5 {
    font-size: var(--h5-font-size-tablet);
    letter-spacing: var(--h5-letter-spacing-tablet);
    line-height: var(--h5-line-height-tablet);
  }
  .h6 {
    font-size: var(--h6-font-size-tablet);
    letter-spacing: var(--h6-letter-spacing-tablet);
    line-height: var(--h6-line-height-tablet);
  }
  .l1 {
    font-size: var(--l1-font-size-tablet);
    line-height: var(--l1-line-height-tablet);
  }
  .l2 {
    font-size: var(--l2-font-size-tablet);
    line-height: var(--l2-line-height-tablet);
  }
  .b1 {
    font-size: var(--b1-font-size-tablet);
    letter-spacing: var(--b1-letter-spacing-tablet);
    line-height: var(--b1-line-height-tablet);
  }
  .b2 {
    font-size: var(--b2-font-size-tablet);
    letter-spacing: var(--b2-letter-spacing-tablet);
    line-height: var(--b2-line-height-tablet);
  }
  .b3 {
    letter-spacing: var(--b3-letter-spacing-tablet);
  }
  .btn {
    font-size: var(--btn-font-size-tablet);
    line-height: var(--btn-line-height-tablet);
  }
  .nav-link {
    font-size: var(--nav-link-font-size-tablet);
    line-height: var(--nav-link-line-height-tablet);
  }
  .nav-dropdown-item {
    font-size: var(--nav-dropdown-item-font-size-tablet);
  }
}
.hero {
  width: 100%;
  height: 28.5714285714vw;
  overflow: hidden;
  position: relative;
}
.hero picture source,
.hero picture img {
  width: 100%;
  position: absolute;
  z-index: auto;
}
@media screen and (max-width: 1455px) {
  .hero {
    height: 40vw;
  }
}
@media screen and (max-width: 1023px) {
  .hero {
    height: 50vw;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    height: 125vw;
  }
}
.hero-items-center {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .hero-items-center {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
.hero-items-left {
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .hero-items-left {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .hero-items-left .hidden {
    display: none;
  }
}
.hero-content-center {
  width: 100%;
  height: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 150px;
  padding-left: 70px;
}
@media screen and (max-width: 1455px) {
  .hero-content-center {
    padding-right: 50px;
    padding-left: 70px;
  }
}
@media screen and (max-width: 1023px) {
  .hero-content-center {
    padding-right: 0px;
    padding-left: 70px;
  }
}
@media screen and (max-width: 767px) {
  .hero-content-center {
    padding-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.hero-content-center .h6 {
  font-size: calc(var(--h6-font-size-mobile) - 1px);
}
@media only screen and (min-width: 1456px) {
  .hero-content-center .h6 h6 {
    font-size: calc(var(--h6-font-size-desktop) - 6px);
  }
}
@media only screen and (min-width: 1456px) and (min-width: 1024px) {
  .hero-content-center .h6 {
    font-size: calc(var(--h6-font-size-tablet) - 6px);
  }
}
.hero-content-center .img-hero {
  position: static;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .hero-content-center .img-hero {
    width: 80vw;
  }
}
.hero-content-left {
  width: 100%;
  height: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 17.5%;
}
@media screen and (max-width: 1455px) {
  .hero-content-left {
    padding-left: 15%;
  }
}
@media screen and (max-width: 1023px) {
  .hero-content-left {
    padding-left: 10%;
  }
}
@media screen and (max-width: 767px) {
  .hero-content-left {
    padding-inline: 10%;
  }
}
.hero-content-left .b2 {
  font-size: calc(var(--b2-font-size-mobile) - 1px);
}
@media only screen and (min-width: 1456px) {
  .hero-content-left .b2 {
    font-size: calc(var(--b2-font-size-desktop) - 5px);
  }
}
@media only screen and (min-width: 1456px) and (min-width: 1024px) {
  .hero-content-left .b2 {
    font-size: calc(var(--b2-font-size-tablet) - 5px);
  }
}
.hero-content-left .img-hero {
  max-width: 50%;
}
@media screen and (max-width: 767px) {
  .hero-content-left .img-hero {
    width: 20vw;
  }
}
.hero footer {
  width: 100vw;
  height: 6.6666666667vw;
  background-color: #6fb0d6;
  position: absolute;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1455px) {
  .hero footer {
    height: 8.3333333333vw;
  }
}
@media screen and (max-width: 1023px) {
  .hero footer {
    height: 10vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .hero footer {
    height: 25vw;
  }
}
.hero footer div {
  display: flex;
  align-items: center;
}
.hero footer div .btn-container {
  height: auto;
}
@media screen and (max-width: 767px) {
  .hero footer div .btn-container {
    margin: 10px;
  }
}

/* Box Styling*/
.box-container {
  position: relative;
  top: 0;
  left: 0;
  width: 355px;
  height: 355px;
  background: linear-gradient(90deg, #29244d, #ed5355);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container:hover .box-background {
  opacity: 0.1;
}
.box-container:hover .box-logo {
  transform: translateY(-70px);
}
.box-container:hover p {
  visibility: visible;
}
.box-container .box-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 355px;
  height: 355px;
  opacity: 1;
  transition: all 300ms ease-in-out;
  filter: brightness(0.7);
}
.box-container .box-logo {
  position: absolute;
  transition: all 300ms ease-out;
}
.box-container p {
  position: absolute;
  visibility: hidden;
  color: white;
}

.box-logo-w1 {
  width: 160px;
}

.box-logo-w2 {
  width: 130px;
}

.box-logo-w3 {
  width: 100px;
}

.box-logo-w4 {
  width: 70px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 65px;
  position: relative;
}

.btn {
  height: 60px;
  width: 160px;
  background-color: #f3f3f3;
  color: rgb(22, 22, 22);
  border-radius: 2.5px;
  transition: 0.1s;
}
.btn p {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:hover {
  width: 168px;
  height: 65px;
}
.btn:focus {
  border: 2.5px solid black;
  outline: 2.5px solid #f3f3f3;
  transition: 0s;
}

.btn-dark {
  border: 2px solid #161616;
  background-color: transparent;
  color: #161616;
}
.btn-dark:focus {
  background-color: #161616;
  border: 2.5px solid #f3f3f3;
  outline: 2.5px solid #161616;
  color: #f3f3f3;
  transition: 0s;
}

.btn-white {
  border: 2px solid #f3f3f3;
  background-color: transparent;
  color: #f3f3f3;
}
.btn-white:focus {
  background-color: #f3f3f3;
  border: 2.5px solid #161616;
  outline: 2.5px solid #f3f3f3;
  color: #161616;
  transition: 0s;
}

@media only screen and (max-width: 1023px) {
  .btn-container {
    height: 56px;
    width: 144px;
  }
  .btn {
    height: 50px;
    width: 136px;
  }
  .btn:hover {
    height: 56px;
    width: 144px;
  }
}
@media only screen and (max-width: 767px) {
  .btn-container {
    height: 56px;
    width: 144px;
  }
  .btn {
    height: 50px;
    width: 136px;
  }
  .btn:hover {
    height: 56px;
    width: 144px;
  }
}
@media only screen and (max-width: 639px) {
  .btn-container {
    width: 547px;
    height: 56px;
  }
  .btn {
    width: 544px;
    height: 50px;
  }
  .btn:hover {
    width: 547px;
    height: 56px;
  }
}
/*Card Styling*/
.cards-container {
  width: 70rem;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  flex: 1 1;
  margin-top: 5rem;
  /* approccio super responsive per le transitions, da sistemare*/
}
.cards-container .card {
  height: 31.5rem;
  width: 22rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.cards-container .card:hover {
  transform: translateY(-12px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}
.cards-container .card .img {
  width: 100%;
}
.cards-container .card .img img {
  margin: 0;
  width: 100%;
}
.cards-container .card .spans {
  display: flex;
  margin: 1rem;
}
.cards-container .card .spans span {
  margin-right: 1rem;
  font-size: 1rem;
}
.cards-container .card .spans span:first-of-type {
  color: orangered;
}
.cards-container .card h3 {
  margin: 1rem;
}
.cards-container .card h6 {
  margin: 1rem;
}

@media screen and (max-width: 1023px) {
  .cards-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-container .card {
    width: 25.5rem;
    height: 26.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  .cards-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
  }
  .cards-container .card .spans {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
  .cards-container .card h3 {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
  .cards-container .card h6 {
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
  .cards-container .card {
    width: 35.5rem;
    height: 7.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  .cards-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.7);
  }
  .cards-container .card .spans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards-container .card .img {
    display: none;
  }
  .cards-container .card h6 {
    display: none;
  }
}
:root {
  --black: #000000;
  --dark: #161616;
  --light: #f3f3f3;
  --white: #ffffff;
  --gray: #eaeaea;
  --gray-focus: #dedede;
  --dark-blue: #29244d;
  --light-orange: #ed5355;
  --orange: #ff4747;
  --red: #fe0115;
  --dark-light-blue: #6fb0d6;
  --transparent: transparent;
}

.text-black {
  color: var(--black);
}

.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

.text-white {
  color: var(--white);
}

.text-gray {
  color: var(--gray);
}

.text-gray-focus {
  color: var(--gray-focus);
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-light-orange {
  color: var(--light-orange);
}

.text-orange {
  color: var(--orange);
}

.text-red {
  color: var(--red);
}

.text-dark-light-blue {
  color: var(--dark-light-blue);
}

.text-transparent {
  color: var(--transparent);
}

.bg-black {
  background-color: var(--black);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-gray-focus {
  background-color: var(--gray-focus);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-light-orange {
  background-color: var(--light-orange);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-red {
  background-color: var(--red);
}

.bg-dark-light-blue {
  background-color: var(--dark-light-blue);
}

.bg-transparent {
  background-color: var(--transparent);
}

.btn-black {
  color: var(--black);
}

.btn-dark {
  color: var(--dark);
}

.btn-light {
  color: var(--light);
}

.btn-white {
  color: var(--white);
}

.btn-gray {
  color: var(--gray);
}

.btn-gray-focus {
  color: var(--gray-focus);
}

.btn-dark-blue {
  color: var(--dark-blue);
}

.btn-light-orange {
  color: var(--light-orange);
}

.btn-orange {
  color: var(--orange);
}

.btn-red {
  color: var(--red);
}

.btn-dark-light-blue {
  color: var(--dark-light-blue);
}

.btn-transparent {
  color: var(--transparent);
}

.nav-bar-1 {
  height: 40px;
  background-color: #161616;
  color: #b0b0b0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.nav-bar-1 .nav-bar-1-link {
  text-decoration: none;
  color: #636363;
}
.nav-bar-1 .fa-user, .nav-bar-1 .fa-question {
  margin-left: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.nav-bar-1 .nav-bar-1-svg-container {
  width: 32px;
  height: 32px;
  fill: #777777;
  margin-right: 2.25rem;
  margin-left: 1.5rem;
}
.nav-bar-1 .nav-bar-1-svg-container:hover {
  fill: #a3a3a3;
}
.nav-bar-1 .fa-user:hover, .nav-bar-1 .fa-question:hover {
  color: #f3f3f3;
}

.nav-bar-2 {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.fa-ellipsis-vertical {
  font-size: 1.5rem;
  transition: 0.25s;
  position: absolute;
  margin-left: 1.5rem;
}
.fa-ellipsis-vertical:hover {
  color: rgb(255, 71, 71);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.img-link {
  margin-left: 4.4rem;
  margin-top: 0.48rem;
}

.nav-links {
  display: flex;
  margin-left: 3rem;
}

.nav-link-container {
  display: flex;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #161616;
  margin-left: 1rem;
  margin-right: 0.7rem;
}
.nav-link .fa-angle-down {
  transition: 0.2s;
  margin-left: 5px;
}
.nav-link .fa-angle-down {
  transition: 0.3s;
}
.nav-link:hover {
  transition: 0.1s;
  color: rgb(255, 71, 71);
}
.nav-link:hover .fa-angle-down {
  transform: rotateX(180deg);
  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bottom-footer {
  width: 100% !important;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  overflow: hidden !important;
}

#ea-local-footer {
  height: 235px;
  background-color: #eaeaea;
  line-height: 27px;
  display: block;
  font-size: 18px;
  overflow-wrap: break-word;
  padding-bottom: 12px;
  padding-left: 76px;
  padding-right: 76px;
  display: flex;
  flex-direction: column;
}
#ea-local-footer #section-footer-container {
  width: 80%;
  height: 121.78px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 27px;
  margin-left: 145px;
  margin-right: 31.5px;
  margin-top: 40px;
  padding-bottom: 28px;
  overflow-wrap: break-word;
}
#ea-local-footer #section-footer-container #ea-local-links {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  font-family: ElectronicArtsText;
  font-size: 18px;
  line-height: 27px;
  margin-top: 14px;
  color: black;
}
#ea-local-footer #section-footer-container #ea-local-links a {
  font-size: 16px;
  font-family: "ElectronicArtsText";
  font-weight: lighter;
  color: #161616;
  text-decoration: none;
  margin-bottom: 5px;
  margin-right: 40px;
  margin-top: 8px;
}
#ea-local-footer #section-footer-container #ea-local-links a:hover {
  color: rgb(255, 71, 71);
}

#ea-social-links {
  width: 245px;
  min-width: 245px !important;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#links-container {
  height: 27px;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}
#links-container a {
  transition: all 0.1s;
  transform-origin: 50% 50%;
}
#links-container a:hover {
  transform: scale(1.2);
}

#ea-network-footer {
  width: 100%;
  height: 337.72px;
  background-color: #f3f3f3;
  padding: 15px 93px 40px;
  display: flex;
  justify-content: center;
}
#ea-network-footer #network-footer-section {
  width: 82%;
  height: 282.72px;
  display: flex;
  justify-content: space-between;
}
#ea-network-footer #network-footer-section #ea-logo {
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#ea-network-footer #network-footer-section #footer-row {
  width: 90%;
  justify-self: end;
}
#ea-network-footer #network-footer-section #footer-row #row-1 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #network-links {
  height: 100%;
  width: 55%;
  line-height: 50px;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #network-links a {
  font-size: 18px;
  font-family: "ElectronicArtsText";
  font-weight: lighter;
  color: #161616;
  text-decoration: none;
  margin-bottom: 5px;
  margin-right: 40px;
  margin-top: 8px;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container {
  margin-top: 15px;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 35px !important;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container .footer-selector {
  height: 61px;
  width: 191px;
  min-height: 61px !important;
  min-width: 191px !important;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 3px;
  outline: 2px solid transparent;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container .footer-selector:hover {
  border: 2px solid transparent;
  outline: 2px solid rgb(194, 194, 194);
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container .footer-selector:focus {
  border: 2px solid transparent;
  outline: 3px solid rgb(194, 194, 194);
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container .footer-selector #options-container-pricing {
  height: 50px;
  width: 142px;
  font-family: ElectronicArtsText;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 22.5px;
  text-align: left;
  text-indent: 0px;
  word-spacing: 0px;
  color: rgb(90, 90, 88);
  cursor: default;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container .footer-selector #options-container-pricing #country-prices-dropdown {
  color: rgb(22, 22, 22);
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container .footer-selector #options-container-pricing #dropdown-selection {
  display: flex;
  align-items: center;
  position: relative;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container .footer-selector #options-container-pricing #dropdown-selection #regional-dropdown {
  position: absolute;
  right: 0px;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container #language-selector #options-container-language {
  height: 50px;
  width: 142px;
  font-family: ElectronicArtsText;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 22.5px;
  text-align: left;
  text-indent: 0px;
  word-spacing: 0px;
  color: rgb(90, 90, 88);
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container #language-selector #options-container-language #dropdown-language-selection {
  display: flex;
  align-items: center;
  position: relative;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container #language-selector #options-container-language #dropdown-language-selection #country-language-dropdown {
  color: rgb(22, 22, 22);
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container #language-selector #options-container-language #dropdown-language-selection #language-dropdown {
  position: absolute;
  right: 0px;
}
#ea-network-footer #network-footer-section #footer-row #row-1 #selector-container #language-selector #options-container-language #dropdown-language-selection span {
  height: 11px;
  width: 16px;
  margin-right: 7px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA50lEQVR42nWRMQ/BQBSAL0aRdDQzMnVjJWam1iDiV4jE5g+ZLSYSC6vIhSbowFrX3rXVeL0Xjza8fOn0fb17LSvOSt84Jwe4uu75cgT2By4ZQ24aBtJ0MyGSJHnqieKUMAzlYPSwbED1up+gv7CRpw7iOI6iCGylVNBoeqYp6rU/QdaGQVtUqqrT+RGAR7aUMggCtAE4Kh+0562cnQba9srlTAAqAouS7fu+gNF2JhguxxTkbSFAvRtG2pgmxwAvgwhfkP3QgwEAy3A6gZamq1MDL8YP9TmBWQViu9uuVyt8Ilz/YP7mBVsTOUQfESu+AAAAAElFTkSuQmCC");
}
#ea-network-footer #network-footer-section #footer-row #row-2 {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ea-network-footer #network-footer-section #footer-row #row-2 #ea-network-legal {
  height: 100%;
  width: 50%;
}
#ea-network-footer #network-footer-section #footer-row #row-2 #ea-network-legal a, #ea-network-footer #network-footer-section #footer-row #row-2 #ea-network-legal p {
  font-size: 16px;
  font-family: "ElectronicArtsText";
  font-weight: lighter;
  color: #161616;
  text-decoration: none;
  margin-bottom: 5px;
  margin-right: 40px;
  margin-top: 8px;
}
#ea-network-footer #network-footer-section #footer-row #row-2 #img-rights-container {
  width: 191px;
  height: 61px;
}

.footer-activated {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-activated {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  #ea-local-footer {
    height: 172.78px;
  }
  #ea-local-footer #section-footer-container {
    width: 90vw !important;
    align-self: center !important;
    margin: 0;
    margin-top: 20px;
  }
  #ea-local-footer #section-footer-container #ea-local-links {
    width: 900px;
    height: 86.78px;
  }
  #ea-local-footer #section-footer-container #ea-social-links {
    width: 218px;
    height: 82.89px;
  }
  #ea-local-footer #section-footer-container #ea-social-links h3 {
    font-size: 14px;
  }
  #ea-logo {
    width: 49px;
  }
  #ea-logo img {
    width: 49px;
  }
  #ea-network-footer {
    height: 281.81px;
  }
  #network-footer-section {
    max-width: 1120px;
    width: 90vw !important;
    height: 90% !important;
  }
  #ea-network-legal {
    width: 70% !important;
  }
  #ea-network-legal a {
    font-size: 14px !important;
  }
  #network-links {
    height: 95px !important;
    max-height: 95px !important;
  }
  #network-links a {
    font-size: 16px !important;
    margin: 10px !important;
  }
  #selector-container {
    margin-left: 0px !important;
    left: 0px !important;
    gap: 0px !important;
    justify-content: space-evenly !important;
  }
}
@media only screen and (max-width: 1023px) {
  #ea-local-footer {
    height: 261.06px;
    justify-content: center;
  }
  #ea-local-footer #section-footer-container {
    width: 100% !important;
    max-width: 100% !important;
    flex-direction: column;
    left: 0;
    margin-left: 0px;
    margin-top: 0px;
    height: 70%;
  }
  #ea-social-links {
    height: 80px !important;
    margin-top: 15px;
  }
  #ea-social-links h3 {
    font-size: 14px !important;
    left: 0px !important;
    text-align: left !important;
    margin-left: 0px !important;
    margin-bottom: 10px !important;
  }
  #ea-network-footer {
    height: 450px;
  }
  #network-footer-section {
    width: 870px !important;
    height: 90% !important;
    margin: 0px !important;
    flex-direction: column;
  }
  #ea-logo img {
    width: 49px;
    height: 49px;
  }
  #row-1 {
    flex-direction: column;
    width: 100% !important;
  }
  #network-links {
    width: 110% !important;
    line-height: 30px !important;
  }
  #network-links a {
    font-size: 16px !important;
    margin: 5px !important;
  }
  #selector-container {
    width: 90vw !important;
    justify-content: space-around !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
  }
  .footer-selector {
    width: 40% !important;
  }
  #row-2 {
    width: 110% !important;
    flex-direction: column;
  }
  #ea-network-legal {
    width: 100% !important;
  }
  #ea-network-legal a, #ea-network-legal p {
    font-size: 14px;
    margin: 5px;
  }
  #img-rights-container {
    align-self: flex-start;
  }
  .footer-selector {
    width: 100% !important;
    position: relative !important;
  }
  .footer-selector #options-container-pricing {
    width: 95% !important;
  }
  .footer-selector #options-container-language {
    width: 95% !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 883px) {
  #ea-local-links {
    width: 100% !important;
  }
  .footer-selector {
    width: 100% !important;
    position: relative !important;
  }
  .footer-selector #options-container-pricing {
    width: 95% !important;
  }
  .footer-selector #options-container-language {
    width: 95% !important;
  }
  #selector-container {
    margin-bottom: 0px !important;
  }
  #ea-network-legal {
    margin-top: 0px !important;
  }
}
@media only screen and (min-width: 642px) and (max-width: 768px) {
  .bottom-footer {
    height: 850px;
    background-color: #f3f3f3;
  }
  #ea-local-links {
    width: 100% !important;
    width: 90vw !important;
    left: 0px !important;
    margin-left: 0px !important;
    border-bottom: 1px solid #969696;
    align-self: center !important;
  }
  #section-footer-container {
    height: 100% !important;
  }
  #selector-container {
    margin-top: 20px !important;
    flex-direction: column;
  }
  .footer-selector {
    width: 100% !important;
    position: relative !important;
  }
  .footer-selector #options-container-pricing {
    width: 95% !important;
  }
  .footer-selector #options-container-language {
    width: 95% !important;
  }
  #ea-network-legal {
    margin-top: 50px;
  }
  #ea-network-legal a {
    font-size: 14px !important;
  }
  #ea-local-footer {
    height: 300px;
  }
  #ea-network-footer {
    height: 700px;
  }
  #ea-social-links {
    height: 60px !important;
    margin-top: 35px;
  }
  #ea-social-links h3 {
    position: relative !important;
    left: -20px !important;
  }
}
@media only screen and (max-width: 641px) {
  .bottom-footer {
    height: 1000px;
    background-color: #f3f3f3;
  }
  #ea-local-links {
    width: 100% !important;
    width: 90vw !important;
    left: 0px !important;
    margin-left: 0px !important;
    border-bottom: 1px solid #969696;
    align-self: center !important;
  }
  #section-footer-container {
    height: 100% !important;
  }
  #selector-container {
    flex-direction: column;
  }
  .footer-selector {
    width: 100% !important;
    position: relative !important;
  }
  .footer-selector #options-container-pricing {
    width: 95% !important;
  }
  .footer-selector #options-container-language {
    width: 95% !important;
  }
  #ea-network-legal {
    margin-top: 20px;
  }
  #ea-network-legal a {
    font-size: 14px !important;
  }
  #ea-local-footer {
    height: 300px;
  }
  #ea-network-footer {
    height: 700px;
  }
  #network-links {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  #ea-local-footer {
    height: 400px !important;
  }
  #ea-social-links {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 444px) {
  .bottom-footer {
    height: 1000px !important;
    background-color: #f3f3f3 !important;
  }
  #ea-network-footer {
    height: 720px !important;
  }
}
@media only screen and (max-width: 404px) {
  .bottom-footer {
    height: 1100px !important;
  }
  #ea-network-footer {
    height: 750px !important;
  }
  #ea-social-links {
    align-self: center !important;
  }
}
/*Sezione giochi in evidenza*/
#giochi-in-evidenza {
  max-width: 1456px;
  margin: 0 auto;
}

.giochi-in-evidenza-text {
  text-align: center;
  margin: 3rem 0 2rem 0;
}

.boxes-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.gie-inner-section {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

/*# sourceMappingURL=main.css.map */
