* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box Styling*/
.box-container {
  position: relative;
  top: 0;
  left: 0;
  width: 355px;
  height: 355px;
  background: linear-gradient(90deg, #29244d, #ed5355);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container:hover .box-background {
  opacity: 0.2;
}
.box-container:hover .box-logo {
  transform: translateY(-70px);
}
.box-container:hover p {
  visibility: visible;
}
.box-container .box-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 355px;
  height: 355px;
  opacity: 1;
  transition: all 300ms ease-in-out;
  filter: brightness(0.7);
}
.box-container .box-logo {
  width: 130px;
  position: absolute;
  color: white;
  transition: all 300ms ease-out;
}
.box-container p {
  position: absolute;
  visibility: hidden;
  color: white;
}

/*Card Styling*/
.cards-container {
  width: 70rem;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  flex: 1 1;
  margin-top: 5rem;
  /* approccio super responsive per le transitions, da sistemare*/
}
.cards-container .card {
  height: 31.5rem;
  width: 22rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.cards-container .card:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}
.cards-container .card .img {
  width: 100%;
}
.cards-container .card .img img {
  margin: 0;
  width: 100%;
}
.cards-container .card .spans {
  display: flex;
  margin: 1rem;
}
.cards-container .card .spans span {
  margin-right: 1rem;
  font-size: 1rem;
}
.cards-container .card .spans span:first-of-type {
  color: orangered;
}
.cards-container .card h3 {
  margin: 1rem;
}
.cards-container .card h6 {
  margin: 1rem;
}

@media screen and (max-width: 1023px) {
  .cards-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-container .card {
    width: 25.5rem;
    height: 26.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .cards-container .card .spans {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
  .cards-container .card h3 {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
  .cards-container .card h6 {
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
  .cards-container .card {
    width: 35.5rem;
    height: 7.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  .cards-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.7);
  }
  .cards-container .card .spans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards-container .card .img {
    display: none;
  }
  .cards-container .card h6 {
    display: none;
  }
}
@font-face {
  font-family: "ElectronicArtsDisplay";
  src: url(../../assets/fonts/ElectronicArtsDisplay-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsDisplay";
  src: url(../../assets/fonts/ElectronicArtsDisplay-Bold.woff2) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Light.woff2) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-LightItalic.woff2) format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Italic.woff2) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-Bold.woff2) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(../../assets/fonts/ElectronicArtsText-BoldItalic.woff2) format("woff");
  font-weight: 600;
  font-style: italic;
}
/*tipografia*/
/*unisco le liste per estrarre i root*/
/*root*/
:root {
  --body-font-size-mobile: 16px;
  --body-font-size-tablet: 18px;
  --body-font-size-desktop: 18px;
  --body-font-family-ElectronicArtsText: "ElectronicArtsText", Verdana, Helvetica, Arial, sans-serif;
  --body-font-weight-light: 300;
  --body-font-weight-normal: 400;
  --body-font-weight-bold: 600;
  --body-letter-spacing-mobile: normal;
  --body-letter-spacing-tablet: normal;
  --body-letter-spacing-desktop: normal;
  --body-line-height-mobile: 1.65;
  --body-line-height-tablet: 1.5;
  --body-line-height-desktop: 1.5;
  --h1-font-size-mobile: 40px;
  --h1-font-size-tablet: 44px;
  --h1-font-size-desktop: 48px;
  --h1-font-weight-400: 400;
  --h1-letter-spacing-mobile: normal;
  --h1-letter-spacing-tablet: normal;
  --h1-letter-spacing-desktop: normal;
  --h1-line-height-mobile: 1.25;
  --h1-line-height-tablet: 1.25;
  --h1-line-height-desktop: 1.35;
  --h2-font-size-mobile: 32px;
  --h2-font-size-tablet: 36px;
  --h2-font-size-desktop: 40px;
  --h2-font-weight-400: 400;
  --h2-letter-spacing-mobile: normal;
  --h2-letter-spacing-tablet: normal;
  --h2-letter-spacing-desktop: normal;
  --h2-line-height-mobile: 1.25;
  --h2-line-height-tablet: 1.25;
  --h2-line-height-desktop: 1.35;
  --h3-font-size-mobile: 28px;
  --h3-font-size-tablet: 32px;
  --h3-font-size-desktop: 36px;
  --h3-letter-spacing-desktop: normal;
  --h3-letter-spacing-tablet: normal;
  --h3-letter-spacing-mobile: normal;
  --h3-line-height-desktop: 1.35;
  --h3-line-height-tablet: 1.25;
  --h3-line-height-mobile: 1.25;
  --h3-font-weight-400: 400;
  --h4-font-size-mobile: 20px;
  --h4-font-size-tablet: 24px;
  --h4-font-size-desktop: 24px;
  --h4-letter-spacing-desktop: normal;
  --h4-letter-spacing-tablet: normal;
  --h4-letter-spacing-mobile: normal;
  --h4-line-height-desktop: 1.35;
  --h4-line-height-tablet: 1.25;
  --h4-line-height-mobile: 1.25;
  --h4-font-weight-400: 400;
  --h5-font-size-mobile: 20px;
  --h5-font-size-tablet: 24px;
  --h5-font-size-desktop: 24px;
  --h5-letter-spacing-mobile: -0.025em;
  --h5-letter-spacing-tablet: -0.025em;
  --h5-letter-spacing-desktop: -0.025em;
  --h5-line-height-desktop: 1.35;
  --h5-line-height-tablet: 1.25;
  --h5-line-height-mobile: 1.25;
  --h5-font-weight-400: 400;
  --h6-font-size-mobile: 20px;
  --h6-font-size-tablet: 24px;
  --h6-font-size-desktop: 24px;
  --h6-letter-spacing-mobile: -0.025em;
  --h6-letter-spacing-tablet: -0.025em;
  --h6-letter-spacing-desktop: -0.025em;
  --h6-line-height-desktop: 1.35;
  --h6-line-height-tablet: 1.25;
  --h6-line-height-mobile: 1.25;
  --h6-font-weight-400: 400;
  --d1-font-size-mobile: 50px;
  --d1-font-size-tablet: 64px;
  --d1-font-size-desktop: 80px;
  --d1-letter-spacing-mobile: normal;
  --d1-letter-spacing-tablet: normal;
  --d1-letter-spacing-desktop: normal;
  --d1-line-height-mobile: 1.15;
  --d1-line-height-tablet: 1.15;
  --d1-line-height-desktop: 1.15;
  --d1-font-style-normal: normal;
  --d1-font-weight-600: 600;
  --d1-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d2-font-size-mobile: 42px;
  --d2-font-size-tablet: 54px;
  --d2-font-size-desktop: 68px;
  --d2-letter-spacing-mobile: normal;
  --d2-letter-spacing-tablet: normal;
  --d2-letter-spacing-desktop: normal;
  --d2-line-height-mobile: 1.15;
  --d2-line-height-tablet: 1.15;
  --d2-line-height-desktop: 1.15;
  --d2-font-style-normal: normal;
  --d2-font-weight-600: 600;
  --d2-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d3-font-size-mobile: 36px;
  --d3-font-size-tablet: 44px;
  --d3-font-size-desktop: 54px;
  --d3-letter-spacing-mobile: normal;
  --d3-letter-spacing-tablet: normal;
  --d3-letter-spacing-desktop: normal;
  --d3-line-height-mobile: 1.15;
  --d3-line-height-tablet: 1.15;
  --d3-line-height-desktop: 1.15;
  --d3-font-style-normal: normal;
  --d3-font-weight-600: 600;
  --d3-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d4-font-size-mobile: 32px;
  --d4-font-size-tablet: 40px;
  --d4-font-size-desktop: 44px;
  --d4-letter-spacing-mobile: normal;
  --d4-letter-spacing-tablet: normal;
  --d4-letter-spacing-desktop: normal;
  --d4-line-height-mobile: 1.15;
  --d4-line-height-tablet: 1.15;
  --d4-line-height-desktop: 1.15;
  --d4-font-style-normal: normal;
  --d4-font-weight-600: 600;
  --d4-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d5-font-size-mobile: 22px;
  --d5-font-size-desktop: 32px;
  --d5-letter-spacing-normal: normal;
  --d5-line-height-100: 100%;
  --d5-font-style-normal: normal;
  --d5-font-weight-600: 600;
  --d5-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --d6-font-size-mobile: 20px;
  --d6-font-size-desktop: 24px;
  --d6-letter-spacing-normal: normal;
  --d6-line-height-100: 100%;
  --d6-font-style-normal: normal;
  --d6-font-weight-600: 600;
  --d6-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l1-font-size-mobile: 24px;
  --l1-font-size-tablet: 24px;
  --l1-font-size-desktop: 26px;
  --l1-font-weight-600: 600;
  --l1-letter-spacing-normal: normal;
  --l1-line-height-mobile: 1.35;
  --l1-line-height-tablet: 1.35;
  --l1-line-height-desktop: 1.35;
  --l1-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l2-font-size-mobile: 14px;
  --l2-font-size-tablet: 14px;
  --l2-font-size-desktop: 16px;
  --l2-font-weight-600: 600;
  --l2-letter-spacing-normal: normal;
  --l2-line-height-mobile: 1.35;
  --l2-line-height-tablet: 1.35;
  --l2-line-height-desktop: 1.35;
  --l2-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l3-font-size-mobile: 14px;
  --l3-font-size-desktop: 16px;
  --l3-font-style-normal: normal;
  --l3-font-weight-600: 600;
  --l3-letter-spacing-normal: normal;
  --l3-line-height-100: 100%;
  --l3-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --l4-font-size-mobile: 14px;
  --l4-font-size-desktop: 14px;
  --l4-font-style-normal: normal;
  --l4-font-weight-600: 600;
  --l4-letter-spacing-normal: normal;
  --l4-line-height-100: 100%;
  --l4-font-family-ElectronicArtsDisplay: "ElectronicArtsDisplay", Verdana, Helvetica, Arial, sans-serif;
  --b1-font-size-mobile: 20px;
  --b1-font-size-tablet: 20px;
  --b1-font-size-desktop: 24px;
  --b1-letter-spacing-mobile: normal;
  --b1-letter-spacing-tablet: normal;
  --b1-letter-spacing-desktop: normal;
  --b1-line-height-mobile: 1.65;
  --b1-line-height-tablet: 1.5;
  --b1-line-height-desktop: 1.5;
  --b2-font-size-mobile: 16px;
  --b2-font-size-tablet: 18px;
  --b2-font-size-desktop: 18px;
  --b2-letter-spacing-mobile: normal;
  --b2-letter-spacing-tablet: normal;
  --b2-letter-spacing-desktop: normal;
  --b2-line-height-mobile: 1.65;
  --b2-line-height-tablet: 1.5;
  --b2-line-height-desktop: 1.5;
  --b3-font-size-mobile: 14px;
  --b3-font-size-desktop: 16px;
  --b3-letter-spacing-mobile: normal;
  --b3-letter-spacing-tablet: normal;
  --b3-letter-spacing-desktop: normal;
  --b3-line-height-mobile: 1.65;
  --b3-line-height-desktop: 1.5;
  --btn-font-family-ElectronicArtsText: "ElectronicArtsText", Verdana, Helvetica, Arial, sans-serif;
  --btn-font-size-mobile: 16px;
  --btn-font-size-tablet: 18px;
  --btn-font-size-desktop: 18px;
  --btn-line-height-mobile: 1.65;
  --btn-line-height-tablet: 1.5;
  --btn-line-height-desktop: 1.5;
  --btn-font-weight-normal: normal;
  --btn-letter-spacing-normal: normal;
  --btn-text-transform-none: none;
  --nav-bar-1-font-size-16: 16px;
  --nav-bar-1-font-family-open-sans: open-sans, "Verdana", "Helvetica", "Arial", sans-serif;
  --nav-bar-1-line-height-1_35: 1.35;
  --nav-bar-1-text-decoration-none: none;
  --nav-bar-1-color-inherit: inherit;
  --nav-link-font-family-ElectronicArtsText: "ElectronicArtsText", Verdana, Helvetica, Arial, sans-serif;
  --nav-link-font-size-mobile: 16px;
  --nav-link-font-size-tablet: 18px;
  --nav-link-font-size-desktop: 18px;
  --nav-link-line-height-mobile: 1.65;
  --nav-link-line-height-tablet: 1.5;
  --nav-link-line-height-desktop: 1.5;
  --nav-link-font-weight-normal: normal;
  --nav-link-letter-spacing-normal: normal;
  --nav-link-text-decoration-none: none;
  --nav-link-color-inherit: inherit;
  --nav-dropdown-item-font-size-mobile: 16px;
  --nav-dropdown-item-font-size-tablet: 16px;
  --nav-dropdown-item-font-size-desktop: 16px;
  --nav-dropdown-item-font-weight-300: 300;
  --nav-dropdown-item-text-decoration-none: none;
  --nav-dropdown-item-title-font-weight-700: 700;
  --nav-dropdown-item-title-text-decoration-none: none;
  --title-font-weight-bold: bold;
}

/*selectors*/
body {
  font-size: var(--body-font-size-mobile);
  font-family: var(--body-font-family-ElectronicArtsText);
  font-weight: var(--body-font-weight-light);
  font-weight: var(--body-font-weight-normal);
  font-weight: var(--body-font-weight-bold);
  letter-spacing: var(--body-letter-spacing-mobile);
  line-height: var(--body-line-height-mobile);
}

h1 {
  font-size: var(--h1-font-size-mobile);
  font-weight: var(--h1-font-weight-400);
  letter-spacing: var(--h1-letter-spacing-mobile);
  line-height: var(--h1-line-height-mobile);
}

h2 {
  font-size: var(--h2-font-size-mobile);
  font-weight: var(--h2-font-weight-400);
  letter-spacing: var(--h2-letter-spacing-mobile);
  line-height: var(--h2-line-height-mobile);
}

h3 {
  font-size: var(--h3-font-size-mobile);
  letter-spacing: var(--h3-letter-spacing-mobile);
  line-height: var(--h3-line-height-mobile);
  font-weight: var(--h3-font-weight-400);
}

h4 {
  font-size: var(--h4-font-size-mobile);
  letter-spacing: var(--h4-letter-spacing-mobile);
  line-height: var(--h4-line-height-mobile);
  font-weight: var(--h4-font-weight-400);
}

h5 {
  font-size: var(--h5-font-size-mobile);
  letter-spacing: var(--h5-letter-spacing-mobile);
  line-height: var(--h5-line-height-mobile);
  font-weight: var(--h5-font-weight-400);
}

h6 {
  font-size: var(--h6-font-size-mobile);
  letter-spacing: var(--h6-letter-spacing-mobile);
  line-height: var(--h6-line-height-mobile);
  font-weight: var(--h6-font-weight-400);
}

@media only screen and (min-width: 1456px) {
  body {
    font-size: var(--body-font-size-desktop);
    letter-spacing: var(--body-letter-spacing-desktop);
    line-height: var(--body-line-height-desktop);
  }
  h1 {
    font-size: var(--h1-font-size-desktop);
    letter-spacing: var(--h1-letter-spacing-desktop);
    line-height: var(--h1-line-height-desktop);
  }
  h2 {
    font-size: var(--h2-font-size-desktop);
    letter-spacing: var(--h2-letter-spacing-desktop);
    line-height: var(--h2-line-height-desktop);
  }
  h3 {
    font-size: var(--h3-font-size-desktop);
    letter-spacing: var(--h3-letter-spacing-desktop);
    line-height: var(--h3-line-height-desktop);
  }
  h4 {
    font-size: var(--h4-font-size-desktop);
    letter-spacing: var(--h4-letter-spacing-desktop);
    line-height: var(--h4-line-height-desktop);
  }
  h5 {
    font-size: var(--h5-font-size-desktop);
    letter-spacing: var(--h5-letter-spacing-desktop);
    line-height: var(--h5-line-height-desktop);
  }
  h6 {
    font-size: var(--h6-font-size-desktop);
    letter-spacing: var(--h6-letter-spacing-desktop);
    line-height: var(--h6-line-height-desktop);
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: var(--body-font-size-tablet);
    letter-spacing: var(--body-letter-spacing-tablet);
    line-height: var(--body-line-height-tablet);
  }
  h1 {
    font-size: var(--h1-font-size-tablet);
    letter-spacing: var(--h1-letter-spacing-tablet);
    line-height: var(--h1-line-height-tablet);
  }
  h2 {
    font-size: var(--h2-font-size-tablet);
    letter-spacing: var(--h2-letter-spacing-tablet);
    line-height: var(--h2-line-height-tablet);
  }
  h3 {
    font-size: var(--h3-font-size-tablet);
    letter-spacing: var(--h3-letter-spacing-tablet);
    line-height: var(--h3-line-height-tablet);
  }
  h4 {
    font-size: var(--h4-font-size-tablet);
    letter-spacing: var(--h4-letter-spacing-tablet);
    line-height: var(--h4-line-height-tablet);
  }
  h5 {
    font-size: var(--h5-font-size-tablet);
    letter-spacing: var(--h5-letter-spacing-tablet);
    line-height: var(--h5-line-height-tablet);
  }
  h6 {
    font-size: var(--h6-font-size-tablet);
    letter-spacing: var(--h6-letter-spacing-tablet);
    line-height: var(--h6-line-height-tablet);
  }
}
/*clasess*/
.d1 {
  font-size: var(--d1-font-size-mobile);
  letter-spacing: var(--d1-letter-spacing-mobile);
  line-height: var(--d1-line-height-mobile);
  font-style: var(--d1-font-style-normal);
  font-weight: var(--d1-font-weight-600);
  font-family: var(--d1-font-family-ElectronicArtsDisplay);
}

.d2 {
  font-size: var(--d2-font-size-mobile);
  letter-spacing: var(--d2-letter-spacing-mobile);
  line-height: var(--d2-line-height-mobile);
  font-style: var(--d2-font-style-normal);
  font-weight: var(--d2-font-weight-600);
  font-family: var(--d2-font-family-ElectronicArtsDisplay);
}

.d3 {
  font-size: var(--d3-font-size-mobile);
  letter-spacing: var(--d3-letter-spacing-mobile);
  line-height: var(--d3-line-height-mobile);
  font-style: var(--d3-font-style-normal);
  font-weight: var(--d3-font-weight-600);
  font-family: var(--d3-font-family-ElectronicArtsDisplay);
}

.d4 {
  font-size: var(--d4-font-size-mobile);
  letter-spacing: var(--d4-letter-spacing-mobile);
  line-height: var(--d4-line-height-mobile);
  font-style: var(--d4-font-style-normal);
  font-weight: var(--d4-font-weight-600);
  font-family: var(--d4-font-family-ElectronicArtsDisplay);
}

.d5 {
  font-size: var(--d5-font-size-mobile);
  letter-spacing: var(--d5-letter-spacing-normal);
  line-height: var(--d5-line-height-100);
  font-style: var(--d5-font-style-normal);
  font-weight: var(--d5-font-weight-600);
  font-family: var(--d5-font-family-ElectronicArtsDisplay);
}

.d6 {
  font-size: var(--d6-font-size-mobile);
  letter-spacing: var(--d6-letter-spacing-normal);
  line-height: var(--d6-line-height-100);
  font-style: var(--d6-font-style-normal);
  font-weight: var(--d6-font-weight-600);
  font-family: var(--d6-font-family-ElectronicArtsDisplay);
}

.h1 {
  font-size: var(--h1-font-size-mobile);
  font-weight: var(--h1-font-weight-400);
  letter-spacing: var(--h1-letter-spacing-mobile);
  line-height: var(--h1-line-height-mobile);
}

.h2 {
  font-size: var(--h2-font-size-mobile);
  font-weight: var(--h2-font-weight-400);
  letter-spacing: var(--h2-letter-spacing-mobile);
  line-height: var(--h2-line-height-mobile);
}

.h3 {
  font-size: var(--h3-font-size-mobile);
  letter-spacing: var(--h3-letter-spacing-mobile);
  line-height: var(--h3-line-height-mobile);
  font-weight: var(--h3-font-weight-400);
}

.h4 {
  font-size: var(--h4-font-size-mobile);
  letter-spacing: var(--h4-letter-spacing-mobile);
  line-height: var(--h4-line-height-mobile);
  font-weight: var(--h4-font-weight-400);
}

.h5 {
  font-size: var(--h5-font-size-mobile);
  letter-spacing: var(--h5-letter-spacing-mobile);
  line-height: var(--h5-line-height-mobile);
  font-weight: var(--h5-font-weight-400);
}

.h6 {
  font-size: var(--h6-font-size-mobile);
  letter-spacing: var(--h6-letter-spacing-mobile);
  line-height: var(--h6-line-height-mobile);
  font-weight: var(--h6-font-weight-400);
}

.l1 {
  font-size: var(--l1-font-size-mobile);
  font-weight: var(--l1-font-weight-600);
  letter-spacing: var(--l1-letter-spacing-normal);
  line-height: var(--l1-line-height-mobile);
  font-family: var(--l1-font-family-ElectronicArtsDisplay);
}

.l2 {
  font-size: var(--l2-font-size-mobile);
  font-weight: var(--l2-font-weight-600);
  letter-spacing: var(--l2-letter-spacing-normal);
  line-height: var(--l2-line-height-mobile);
  font-family: var(--l2-font-family-ElectronicArtsDisplay);
}

.l3 {
  font-size: var(--l3-font-size-mobile);
  font-style: var(--l3-font-style-normal);
  font-weight: var(--l3-font-weight-600);
  letter-spacing: var(--l3-letter-spacing-normal);
  line-height: var(--l3-line-height-100);
  font-family: var(--l3-font-family-ElectronicArtsDisplay);
}

.l4 {
  font-size: var(--l4-font-size-mobile);
  font-style: var(--l4-font-style-normal);
  font-weight: var(--l4-font-weight-600);
  letter-spacing: var(--l4-letter-spacing-normal);
  line-height: var(--l4-line-height-100);
  font-family: var(--l4-font-family-ElectronicArtsDisplay);
}

.b1 {
  font-size: var(--b1-font-size-mobile);
  letter-spacing: var(--b1-letter-spacing-mobile);
  line-height: var(--b1-line-height-mobile);
}

.b2 {
  font-size: var(--b2-font-size-mobile);
  letter-spacing: var(--b2-letter-spacing-mobile);
  line-height: var(--b2-line-height-mobile);
}

.b3 {
  font-size: var(--b3-font-size-mobile);
  letter-spacing: var(--b3-letter-spacing-mobile);
  line-height: var(--b3-line-height-mobile);
}

.btn {
  font-family: var(--btn-font-family-ElectronicArtsText);
  font-size: var(--btn-font-size-mobile);
  line-height: var(--btn-line-height-mobile);
  font-weight: var(--btn-font-weight-normal);
  letter-spacing: var(--btn-letter-spacing-normal);
  text-transform: var(--btn-text-transform-none);
}

.nav-bar-1 {
  font-size: var(--nav-bar-1-font-size-16);
  font-family: var(--nav-bar-1-font-family-open-sans);
  line-height: var(--nav-bar-1-line-height-1_35);
  text-decoration: var(--nav-bar-1-text-decoration-none);
  color: var(--nav-bar-1-color-inherit);
}

.nav-link {
  font-family: var(--nav-link-font-family-ElectronicArtsText);
  font-size: var(--nav-link-font-size-mobile);
  line-height: var(--nav-link-line-height-mobile);
  font-weight: var(--nav-link-font-weight-normal);
  letter-spacing: var(--nav-link-letter-spacing-normal);
  text-decoration: var(--nav-link-text-decoration-none);
  color: var(--nav-link-color-inherit);
}

.nav-dropdown-item {
  font-size: var(--nav-dropdown-item-font-size-mobile);
  font-weight: var(--nav-dropdown-item-font-weight-300);
  text-decoration: var(--nav-dropdown-item-text-decoration-none);
}

.nav-dropdown-item-title {
  font-weight: var(--nav-dropdown-item-title-font-weight-700);
  text-decoration: var(--nav-dropdown-item-title-text-decoration-none);
}

.title {
  font-weight: var(--title-font-weight-bold);
}

@media only screen and (min-width: 1456px) {
  .d1 {
    font-size: var(--d1-font-size-desktop);
    letter-spacing: var(--d1-letter-spacing-desktop);
    line-height: var(--d1-line-height-desktop);
  }
  .d2 {
    font-size: var(--d2-font-size-desktop);
    letter-spacing: var(--d2-letter-spacing-desktop);
    line-height: var(--d2-line-height-desktop);
  }
  .d3 {
    font-size: var(--d3-font-size-desktop);
    letter-spacing: var(--d3-letter-spacing-desktop);
    line-height: var(--d3-line-height-desktop);
  }
  .d4 {
    font-size: var(--d4-font-size-desktop);
    letter-spacing: var(--d4-letter-spacing-desktop);
    line-height: var(--d4-line-height-desktop);
  }
  .d5 {
    font-size: var(--d5-font-size-desktop);
  }
  .d6 {
    font-size: var(--d6-font-size-desktop);
  }
  .h1 {
    font-size: var(--h1-font-size-desktop);
    letter-spacing: var(--h1-letter-spacing-desktop);
    line-height: var(--h1-line-height-desktop);
  }
  .h2 {
    font-size: var(--h2-font-size-desktop);
    letter-spacing: var(--h2-letter-spacing-desktop);
    line-height: var(--h2-line-height-desktop);
  }
  .h3 {
    font-size: var(--h3-font-size-desktop);
    letter-spacing: var(--h3-letter-spacing-desktop);
    line-height: var(--h3-line-height-desktop);
  }
  .h4 {
    font-size: var(--h4-font-size-desktop);
    letter-spacing: var(--h4-letter-spacing-desktop);
    line-height: var(--h4-line-height-desktop);
  }
  .h5 {
    font-size: var(--h5-font-size-desktop);
    letter-spacing: var(--h5-letter-spacing-desktop);
    line-height: var(--h5-line-height-desktop);
  }
  .h6 {
    font-size: var(--h6-font-size-desktop);
    letter-spacing: var(--h6-letter-spacing-desktop);
    line-height: var(--h6-line-height-desktop);
  }
  .l1 {
    font-size: var(--l1-font-size-desktop);
    line-height: var(--l1-line-height-desktop);
  }
  .l2 {
    font-size: var(--l2-font-size-desktop);
    line-height: var(--l2-line-height-desktop);
  }
  .l3 {
    font-size: var(--l3-font-size-desktop);
  }
  .l4 {
    font-size: var(--l4-font-size-desktop);
  }
  .b1 {
    font-size: var(--b1-font-size-desktop);
    letter-spacing: var(--b1-letter-spacing-desktop);
    line-height: var(--b1-line-height-desktop);
  }
  .b2 {
    font-size: var(--b2-font-size-desktop);
    letter-spacing: var(--b2-letter-spacing-desktop);
    line-height: var(--b2-line-height-desktop);
  }
  .b3 {
    font-size: var(--b3-font-size-desktop);
    letter-spacing: var(--b3-letter-spacing-desktop);
    line-height: var(--b3-line-height-desktop);
  }
  .btn {
    font-size: var(--btn-font-size-desktop);
    line-height: var(--btn-line-height-desktop);
  }
  .nav-link {
    font-size: var(--nav-link-font-size-desktop);
    line-height: var(--nav-link-line-height-desktop);
  }
  .nav-dropdown-item {
    font-size: var(--nav-dropdown-item-font-size-desktop);
  }
}
@media only screen and (min-width: 1024px) {
  .d1 {
    font-size: var(--d1-font-size-tablet);
    letter-spacing: var(--d1-letter-spacing-tablet);
    line-height: var(--d1-line-height-tablet);
  }
  .d2 {
    font-size: var(--d2-font-size-tablet);
    letter-spacing: var(--d2-letter-spacing-tablet);
    line-height: var(--d2-line-height-tablet);
  }
  .d3 {
    font-size: var(--d3-font-size-tablet);
    letter-spacing: var(--d3-letter-spacing-tablet);
    line-height: var(--d3-line-height-tablet);
  }
  .d4 {
    font-size: var(--d4-font-size-tablet);
    letter-spacing: var(--d4-letter-spacing-tablet);
    line-height: var(--d4-line-height-tablet);
  }
  .h1 {
    font-size: var(--h1-font-size-tablet);
    letter-spacing: var(--h1-letter-spacing-tablet);
    line-height: var(--h1-line-height-tablet);
  }
  .h2 {
    font-size: var(--h2-font-size-tablet);
    letter-spacing: var(--h2-letter-spacing-tablet);
    line-height: var(--h2-line-height-tablet);
  }
  .h3 {
    font-size: var(--h3-font-size-tablet);
    letter-spacing: var(--h3-letter-spacing-tablet);
    line-height: var(--h3-line-height-tablet);
  }
  .h4 {
    font-size: var(--h4-font-size-tablet);
    letter-spacing: var(--h4-letter-spacing-tablet);
    line-height: var(--h4-line-height-tablet);
  }
  .h5 {
    font-size: var(--h5-font-size-tablet);
    letter-spacing: var(--h5-letter-spacing-tablet);
    line-height: var(--h5-line-height-tablet);
  }
  .h6 {
    font-size: var(--h6-font-size-tablet);
    letter-spacing: var(--h6-letter-spacing-tablet);
    line-height: var(--h6-line-height-tablet);
  }
  .l1 {
    font-size: var(--l1-font-size-tablet);
    line-height: var(--l1-line-height-tablet);
  }
  .l2 {
    font-size: var(--l2-font-size-tablet);
    line-height: var(--l2-line-height-tablet);
  }
  .b1 {
    font-size: var(--b1-font-size-tablet);
    letter-spacing: var(--b1-letter-spacing-tablet);
    line-height: var(--b1-line-height-tablet);
  }
  .b2 {
    font-size: var(--b2-font-size-tablet);
    letter-spacing: var(--b2-letter-spacing-tablet);
    line-height: var(--b2-line-height-tablet);
  }
  .b3 {
    letter-spacing: var(--b3-letter-spacing-tablet);
  }
  .btn {
    font-size: var(--btn-font-size-tablet);
    line-height: var(--btn-line-height-tablet);
  }
  .nav-link {
    font-size: var(--nav-link-font-size-tablet);
    line-height: var(--nav-link-line-height-tablet);
  }
  .nav-dropdown-item {
    font-size: var(--nav-dropdown-item-font-size-tablet);
  }
}

/*# sourceMappingURL=main.css.map */
