@use "config";
@use "typography/typography";
@use "hero/hero";
@use "box/box";
@use "button/button";
@use "card/card";
@use "colors/colors";
@use "navbar/navbar";
@use "nav-ultime/nav-ultime";
@use "banner/banner";

/*Sezione giochi in evidenza*/
#giochi-in-evidenza{
  max-width: 1456px;
  margin: 0 auto;
}

.giochi-in-evidenza-text{
  text-align: center;
  margin: 3rem 0 2rem 0;
}

.boxes-section{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.gie-inner-section{
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}