.form-wrapper {
    div {
        div {
            @media screen and (min-width:992px) {
                flex: 1 1 50%;
            }
        }

        .form {
            .form-floating {

                height: 60px;

                .form-control {
                    border: none;
                    box-shadow: none;

                }

                input[type="text"].form-control:focus{
                    &::placeholder{
                        color: #919191;
                    }
                }

            }

            div:nth-child(2) {
                div {
                    @media screen and (min-width:768px) {
                        flex: 1 1 50%;
                    }

                    .form-select {
                        height: 60px;
                        border-radius: 0px;
                        border: 1px solid #000000;
                        box-shadow: none;
                        padding: 0px;

                       
                    }
                }
            }
        }
    }
}