/* sidebar */
.sidebar-wrapper {
  background-color: #fff;
  width: 416px;
  padding: 0 48px 64px 32px;
  box-shadow: 5px 10px 8px #888888;
  transition: all 0.3s ease-in;
  position: relative;
  top: 32px;
  left: 0;

  .sidebar-close-icon {
    width: 16px;

    &:hover {
      color: var(--red);
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 0 47px 0;
  }

  .boxes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
  }

  .sidebar-title{
    text-decoration: none;
    color: #a9a9a9;
    &:hover{
      color: var(--red);
    }
  }
}