/* sidebar */
.sidebar-wrapper{
  background-color: #fff;
  width: 416px;
  padding: 0 48px 64px 32px;
  box-shadow: 5px 10px 8px #888888;
  transition: all 0.3s ease-in;

  .sidebar-close-icon{
    width: 16px;

    &:hover{
      color: var(--red);
    }
  }

  .sidebar-title{
    text-decoration: none;
    color: #a9a9a9;
    &:hover{
      color: var(--red);
    }
  }
}