/* Box Styling*/
.box-container {
  width: 355px;
  height: 355px;
  background: linear-gradient(90deg, var(--dark-blue), var(--orange));

  &:hover {
    .box-background {
      opacity: 0.1;
    }

    .box-logo {
      transform: translateY(-70px);
    }

    p {
      visibility: visible;
    }
  }

  .box-background {
    width: 355px;
    height: 355px;
    opacity: 1;
    transition: all 300ms ease-in-out;
    filter: brightness(0.7);
  }

  p {
    visibility: hidden;
    color: var(--white);
  }
}

/* Box Styling blue background*/
.box-container-blue{
  width: 355px;
  height: 355px;
  background: var(--dark-blue);
  
  &:hover{
    .box-background {
      opacity: 0.1;
    }

    .box-logo {
      transform: translateY(-70px);
    }

    a {
      visibility: visible;
      color: gray;
      padding-bottom: 10px;
      border-bottom: 1px solid gray;
      
      &:last-child{
        border-bottom: none;
      }
      &:hover{
        color: var(--white);
      }
    }
  }

  .box-background {
    width: 355px;
    height: 355px;
    opacity: 1;
    transition: all 300ms ease-in-out;
    filter: brightness(0.7);
  }

  a {
    display: block;
    visibility: hidden;
    color: var(--white);
    text-decoration: none;
    padding-top: 10px;

    &:first-child{
      padding-top: 80px;
    }
  }
}