/* Box Styling*/
.box-container {
  width: 355px;
  height: 355px;
  background: linear-gradient(90deg, var(--dark-blue), var(--orange));

  &:hover {
    .box-background {
      opacity: 0.1;
    }

    .box-logo {
      transform: translateY(-70px);
    }

    p {
      visibility: visible;
    }
  }

  .box-background {
    width: 355px;
    height: 355px;
    opacity: 1;
    transition: all 300ms ease-in-out;
    filter: brightness(0.7);
  }

  p {
    visibility: hidden;
    color: var(--white);
  }
}

// .box-logo-w1 {
//   width: 160px;
// }

// .box-logo-w2 {
//   width: 130px;
// }

// .box-logo-w3 {
//   width: 100px;
// }

// .box-logo-w4 {
//   width: 70px;
// }