@import "../abstracts/colors";

.buttons {
  display: flex;
  visibility: hidden;
}
#container::-webkit-scrollbar {
  display: none;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
}

#container {
  position: relative;
}

.container {
  @media (max-width: 768px) {
    max-width: 0px;
    margin-inline: 0;
  }

  @media (max-width: 576px) {
    max-width: 0px;
    margin-inline: 0;
  }

  .nav {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    border-bottom: 0px solid var(--gray);
    flex-shrink: 0;

    .nav-link {
      height: 3.5rem;
      position: relative;
      color: black;
      border-radius: 0%;
      padding-left: 0px;
      padding-right: 0px;
      border: 0px;
      flex-shrink: 0;

      .button-hr {
        border: 0px;
        width: 85%;
        height: 2px;
        opacity: 1;
        background-color: var(--orange);
        position: absolute;
        bottom: -27%;
        left: 7%;
        visibility: hidden;
        flex-shrink: 0;
      }

      p {
        width: 100%;
        padding-inline: 1rem;
        margin-bottom: 0px;
        border-left: 1px solid var(--gray-focus);
        border-right: 1px solid var(--gray-focus);
        flex-shrink: 0;
      }

      &:nth-of-type(1) p {
        border-left: none;
      }

      &:last-of-type p {
        border-right: none;
      }

      &:hover {
        background-color: transparentize(($gray-focus), 0.5);
      }
    }
    .nav-link.active {
      color: black, 0.5;
      background-color: transparentize(($gray-focus), 0.5);
      border-radius: 0%;
      .button-hr {
        visibility: visible;
        animation: myanimation 0.1s;
      }
    }
  }
}

.nav-hr {
  opacity: 1;
  margin: 0px;
  border-top: 2px solid var(--gray-focus);
  flex-shrink: 0;
  margin-bottom: 3rem;
}

@keyframes myanimation {
  from {
    width: 1%;
    left: 50%;
  }
  to {
    width: 85%;
    left: 7%;
  }
}

@media screen and (max-width: 730px) {
  .buttons {
    height: 3.5rem;
    display: flex;
    visibility: visible;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  

    button {
      border: none;
      background: transparent;

      .fas {
        font-size: 1.5rem;
        background: transparent;
      }
    }
  }
}
