#card-container-center {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,17,78,1) 55%, rgba(255,0,69,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    gap: 20px;
    overflow: scroll;
}

.eapl__card {
    width: 27.2vw !important;
    &:hover {
        animation: none !important;
        transition: none !important;
    }
}

.ea-play-card-img {
    width: 100%;
    height: 15.3vw;
}

.ea-play-card-content-wrapper {
    height: 166.19px;
    width: 100%;
    padding: 24px 16px;
    background-color: #f3f3f3;
    @media only screen and (max-width: 348px) {
        height: 180.27px !important;
    }
}

.eapl-tile-content {
    width: 100%;
    height: 100%;
}

.ea-play-card-h2 {
    font-size: 14px;
    color: #ff4747;
    text-align: center;
}

.ea-play-card-h3 {
    color: #161616;
    font-size: 24px;
    font-family: 'ElectronicArtsText', Verdana;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 30px;
    text-align: center;
    text-decoration-thickness: auto;
    margin: 6px 0px 0px;
    -webkit-font-smoothing: antialiased;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: opacity;
    transition-timing-function: ease;
    @media only screen and (max-width: 1023px) {
        font-size: 20px;
        line-height: 25px;
    }

}

.eapl-card-p {
    font-family: 'ElectronicArtsText', Verdana;
    font-size: 18px;
    text-align: center;
    color: #161616;
    margin: 6.3px 0px 0px;
    font-weight: 400;
    @media only screen and (max-width: 1023px) {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1262px) {
    .ea-play-card-content-wrapper {
        height: 196.19px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
    .ea-play-card-content-wrapper {
        height: 151.48px;
    }

    .eapl__card {
        width: 41.1vw !important;
    }
    
    .ea-play-card-img {
        width: 100%;
        height: 23vw;
    }
}

@media only screen and (max-width: 768px) {
    .ea-play-card-content-wrapper {
        height: 128.88px;
    }

    .eapl__card {
        width: 85vw !important;
    }
    
    .ea-play-card-img {
        width: 100%;
        height: 48vw;
    }
}

@media only screen and (max-width: 583px) {
    .ea-play-card-content-wrapper {
        height: 153.88px;
    }
}