<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Sidebar box</title>
  </head>
  <body>
    <!--EA Play box-->
    <a class="sidebar-ea-play-box" href="#">
      <img class="sidebar-ea-play-bg" src="../assets/images/ea-play-16x9-png.adapt.crop1x1.jpg">
      <img class="sidebar-box-logo" src="../assets/images/ea-play-mono-logo-svg.svg" alt="">
    </a>

    <!--Little box-->
    <a class="sidebar-little-box" href="#">
      <img class="sidebar-little-box-bg" src="../assets/images/eas-fifa22-gen5-ue-keyart-horz-f23logo.jpg.adapt.crop1x1.767p.jpg">
      <img class="sidebar-little-box-logo" src="../assets/images/fifa23-logo-white-stacked.svg" alt="">
    </a>
  </body>
</html>