<!-- Bootstrap HTML -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Card</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/main.css" />
  </head>

  <body>
    <!--I strongly advise to use the following two divs for using sections with more than one card to be more specific: copy the two following divs-->
    <div class="container cards-container" style="max-width: 1456px; margin: 0 auto;">
      <div class="d-flex flex-wrap justify-content-center gap-3">
        <!--card component -->
        <a href="*" class="card">
          <img src="../assets/images/eacom-brand-featured-image-16x9.png.adapt.crop16x9.431p.png" class="card-img-top" alt="...">
          <div class="card-body p-4">
            <div class="d-flex flex-column align-items-center flex-md-row align-items-md-start mb-2">
              <span class="me-md-3" style="color:var(--orange);">Electronic Arts Inc.</span>
              <span>29-lug-2022</span>
            </div>
            <h3 class="h5 title text-center text-md-start mb-2">Lorem Ipsum</h3>
            <p class="card-text text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ad quam vitae veritatis, fugit eligendi harum, rerum nam aliquid, odio ab praesentium dolorem sunt tempora expedita deleniti pariatur dolorum culpa.</p>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>

