<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Card</title>
  </head>
  <body>
    <div class="titleultime">
      <h3 class="d4 title ultimenov">Ultime Novità</h3>
    </div>

    <div class="tabs-wrapper">
      <ul>
        <li class="h6"><a href="#">Notizie EA</a></li>
        <li class="h6"><a href="#">EA Play</a></li>
        <li class="h6"><a href="#">FIFA</a></li>
        <li class="h6"><a href="#">F1</a></li>
        <li class="h6"><a href="#">Apex Legends</a></li>
        <li class="h6">
          <a href="#">The Sims<sup>tm</sup> 4</a>
        </li>
        <li class="h6"><a href="#">Battlefield</a></li>
        <li class="h6"><a href="#">Inside EA</a></li>
      </ul>
    </div>

    <div class="cards-container">
      <a class="card" link="#">
        <div class="img">
          <img
            src="../assets/images/eacom-brand-featured-image-16x9.png.adapt.crop16x9.431p.png"
            alt="Immagine generica"
          />
        </div>
        <div class="spans">
          <span class = "text-orange">Electronic Arts Inc.</span>
          <span>29-lug-2022</span>
        </div>
        <h3 class="title h5">Lorem, ipsum dolor.</h3>
        <h6 class="b2 text-dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque voluptatum voluptatibus ratione enim nemo aperiam inventore mollitia dolore vero! </h6>
      </a>

      <a class="card" link="#">
        <div class="img">
          <img
            src="../assets/images/ea-featured-tile-generic-electronic-arts.png.adapt.crop16x9.431p.png"
            alt="Immagine generica"
          />
        </div>
        <div class="spans">
          <span class = "text-orange">Electronic Arts Inc.</span>
          <span>29-lug-2022</span>
        </div>
        <h3 class="title h5">Lorem, ipsum dolor.</h3>
        <h6 class="b2 text-dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque voluptatum voluptatibus ratione enim nemo aperiam inventore mollitia dolore vero! </h6>
      </a>

      <a class="card" link="#">
        <div class="img">
          <img
            src="../assets/images/eacom-brand-featured-image-16x9.png.adapt.crop16x9.431p.png"
            alt="Immagine generica"
          />
        </div>
        <div class="spans">
          <span class = "text-orange">Electronic Arts Inc.</span>
          <span>29-lug-2022</span>
        </div>
        <h3 class="title h5">Lorem, ipsum dolor.</h3>
        <h6 class="b2 text-dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque voluptatum voluptatibus ratione enim nemo aperiam inventore mollitia dolore vero! </h6>
      </a>

      <a class="card" link="#">
        <div class="img">
          <img
            src="../assets/images/ts4-sexual-orientation-top-image.jpg.adapt.crop16x9.431p.jpg"
            alt="Sexual Orientation The Sims 4"
          />
        </div>
        <div class="spans">
          <span class = "text-orange">Electronic Arts Inc.</span>
          <span>29-lug-2022</span>
        </div>
        <h3 class="title h5">Lorem, ipsum dolor.</h3>
        <h6 class="b2 text-dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque voluptatum voluptatibus ratione enim nemo aperiam inventore mollitia dolore vero! </h6>
      </a>

      <a class="card" link="#">
        <div class="img">
          <img
            src="../assets/images/ts4-high-school-years-guided-tours.png.adapt.crop16x9.431p.png"
            alt="The Sims College"
          />
        </div>
        <div class="spans">
          <span class = "text-orange">Electronic Arts Inc.</span>
          <span>29-lug-2022</span>
        </div>
        <h3 class="title h5">Lorem, ipsum dolor.</h3>
        <h6 class="b2 text-dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque voluptatum voluptatibus ratione enim nemo aperiam inventore mollitia dolore vero! </h6>
      </a>

      <a class="card" link="#">
        <div class="img">
          <img
            src="../assets/images/ea-featured-tile-generic-electronic-arts.png.adapt.crop16x9.431p.png"
            alt="Immagine generica"
          />
        </div>
        <div class="spans">
          <span class = "text-orange">Electronic Arts Inc.</span>
          <span>29-lug-2022</span>
        </div>
        <h3 class="title h5">Lorem, ipsum dolor.</h3>
        <h6 class="b2 text-dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque voluptatum voluptatibus ratione enim nemo aperiam inventore mollitia dolore vero! </h6>
      </a>
    </div>

    <div class="btn-ultime">
      <div class="btn-container">
        <a href="#" class="btn btn-dark"><p>Più Dettagli</p></a>
      </div>
    </div>
  </body>
</html>
