<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Coming Soon Card</title>
  </head>
  <body>
    <div class="coming-soon-card">
      <img src="../assets/images/nhl23-coming-soon-tile-16x9-key-art.jpg.adapt.crop16x9.1455w.jpg" alt="">
      <h5 class="d6 coming-soon-title">NHL 23</h5>
      <div class="b2 coming-soon-flex coming-soon-border">
        <p class="coming-soon-w30">Data di Uscita</p>
        <p class="h6 coming-soon-w70">14 ottobre 2022</p>
      </div>
      <div class="b2 coming-soon-flex coming-soon-border">
        <p class="coming-soon-w30">Piattaforme</p>
        <div class="h6 coming-soon-w70 text-orange coming-soon-flex-wrap">
          <p>Xbox One, PlayStation®4, PlayStation®5, Xbox Series X|S</p>
        </div>
      </div>
      <div class="b2 coming-soon-flex coming-soon-border">
        <p class="coming-soon-w30">Genere</p>
        <p class="h6 coming-soon-w70 text-orange">Sport</p>
      </div>
      <div class="coming-soon-btn">
        <div class="btn-container">
          <a href="https://www.ea.com/it-it/games/nhl/nhl-23" class="btn btn-dark"><p>Sito ufficiale</p></a>
      </div>
      </div>
    </div>
  </body>
</html>  