<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Videogiochi di The Sims - Sito ufficiale EA</title>
  <script src="https://kit.fontawesome.com/2975f57649.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <section class="form-wrapper py-5">
    <div class="d-flex flex-column flex-lg-row container gap-4 px-4" style="max-width: 1180px;">
      <div class="">
        <h3 class="d4 mb-3">TIENITI AL PASSO CON LE E-MAIL SU EA E THE SIMS</h3>
        <p>Iscriviti oggi stesso per ricevere tramite e-mail i più recenti aggiornamenti, notizie, contenuti dietro le
          quinte, offerte esclusive e molto altro su The Sims (come pure su altri prodotti, notizie, eventi e promozioni
          di EA).</p>
      </div>
      <div class="form">
        <div class="form-floating mb-3" style="border: 1px solid #000">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-mail</label>
        </div>
        <div class="d-flex flex-column flex-md-row gap-3 mb-3">
          <div>
            <div class="form-floating" style="border: 1px solid #000">
              <input type="text" class="form-control" id="floatingAge" placeholder="GG/MM/YYYY">
              <label for="floatingAge">Data di Nascita</label>
            </div>
          </div>

          <div>
            <div tabindex="0" class="form-select">
              <div>
                <p>Lingua</p>
                <p id="display-lang">Italia</p>
              </div>
              <ul>
                <li class="d-flex justify-content-between"><p>Stati Uniti</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Arabia Saudita</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Argentina</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Australia</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Austria</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Belgio</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Brasile</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Canada</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Cile</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Colombia</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Corea</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Danimarca</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Emirati Arabi</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Finlandia</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Francia</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Germania</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Giappone</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Grecia</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Hong-Kong</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>India</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Irlanda</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between"><p>Isdraele</p><i class="fa-solid fa-check"></i></li>
                <li class="d-flex justify-content-between selected"><p>Italia</p><i class="fa-solid fa-check"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Posso disiscrivermi in qualsiasi momento modificando le mie preferenze sulle e-mail, contattando
            privacyadmin.ea.com o scrivendo a Electronic Arts Inc., ATTN: Email Opt-Out, 209 Redwood Shores Pkwy,
            Redwood City, CA, 94065, USA.
          </label>
        </div>
        <div class="btn-container d-sm-block">
          <a class="btn btn-blue" href="#">
            Iscriviti
          </a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

    <script>

      const formSelect = document.querySelector(".form-select");
      let ulNodes = formSelect.querySelector("ul");
      const displayLang = document.getElementById("display-lang");
      let selectedLang = document.querySelector(".selected");

      ulNodes.addEventListener('click', (event) => {
        if(event.target !== ulNodes){

          if(event.target != selectedLang){
            selectedLang.classList.remove("selected");

            if(event.target.parentElement == ulNodes){
              event.target.classList.add("selected");
            } else {
              event.target.parentElement.classList.add("selected");
            }
          }
        }
        selectedLang = document.querySelector(".selected");

        displayLang.innerText = selectedLang.innerText;

        formSelect.blur();
      })

    </script>
</body>

</html>