<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="notizie-ea-tab"
          data-bs-toggle="tab"
          data-bs-target="#notizie-ea-tab-pane"
          type="button"
          role="tab"
          aria-controls="notizie-ea-tab-pane"
          aria-selected="true"
        >
          Notizie EA
        </button>
      </li>
      <!-- #region other tabs -->
      <!-- <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="ea-play-tab"
          data-bs-toggle="tab"
          data-bs-target="#ea-play-tab-pane"
          type="button"
          role="tab"
          aria-controls="ea-play-tab-pane"
          aria-selected="false"
        >
          EA Play
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="fifa-tab"
          data-bs-toggle="tab"
          data-bs-target="#fifa-tab-pane"
          type="button"
          role="tab"
          aria-controls="fifa-tab-pane"
          aria-selected="false"
        >
          FIFA
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="f1-tab"
          data-bs-toggle="tab"
          data-bs-target="#f1-tab-pane"
          type="button"
          role="tab"
          aria-controls="f1-tab-pane"
          aria-selected="false"
        >
          F1
        </button>
      </li>

      
      <li class="nav-item" role="presentation">
        <button
        class="nav-link"
        id="apex-legends-tab"
        data-bs-toggle="tab"
        data-bs-target="#apex-legends-tab-pane"
        type="button"
        role="tab"
        aria-controls="apex-legends-tab-pane"
        aria-selected="false"
        >
        Apex Legends
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="the-sims-4-tab"
        data-bs-toggle="tab"
        data-bs-target="#the-sims-4-tab-pane"
        type="button"
        role="tab"
        aria-controls="the-sims-4-tab-pane"
        aria-selected="false"
      >
      The Sims<sup>tm</sup> 4 
      </button>
    </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="battlefield-tab"
          data-bs-toggle="tab"
          data-bs-target="#battlefield-tab-pane"
          type="button"
          role="tab"
          aria-controls="battlefield-tab-pane"
          aria-selected="false"
        >
          Battlefield
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="inside-ea-tab"
          data-bs-toggle="tab"
          data-bs-target="#inside-ea-tab-pane"
          type="button"
          role="tab"
          aria-controls="inside-ea-tab-pane"
          aria-selected="false"
        >
          Inside EA
        </button>
      </li>
       -->
<!-- #endregion -->
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="notizie-ea-tab-pane"
        role="tabpanel"
        aria-labelledby="notizie-ea-tab"
        tabindex="0"
      >
        Qui vanno le tabs
      </div>
      <!-- #region other tab pane -->
      <!-- <div
        class="tab-pane fade"
        id="ea-play-tab-pane"
        role="tabpanel"
        aria-labelledby="ea-play-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="fifa-tab-pane"
        role="tabpanel"
        aria-labelledby="fifa-tab"
        tabindex="0"
      >
        ...
      </div>
      
      <div
        class="tab-pane fade"
        id="f1-tab-pane"
        role="tabpanel"
        aria-labelledby="f1-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="apex-legends-tab-pane"
        role="tabpanel"
        aria-labelledby="apex-legends-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="the-sims-4-tab-pane"
        role="tabpanel"
        aria-labelledby="the-sims-4-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="battlefield-tab-pane"
        role="tabpanel"
        aria-labelledby="battlefield-tab"
        tabindex="0"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="inside-ea-tab-pane"
        role="tabpanel"
        aria-labelledby="inside-ea-tab"
        tabindex="0"
      >
        ...
      </div> -->
    <!-- #endregion -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- #region Old html nav -->
<!-- <link rel="stylesheet" href="../css/main.css" />


  <div class="tabs-wrapper">
    <ul>
      <li class="h6"><a href="#">Notizie EA</a></li>
      <li class="h6"><a href="#">EA Play</a></li>
      <li class="h6"><a href="#">FIFA</a></li>
      <li class="h6"><a href="#">F1</a></li>
      <li class="h6"><a href="#">Apex Legends</a></li>
      <li class="h6">
        <a href="#">The Sims<sup>tm</sup> 4</a>
      </li>
      <li class="h6"><a href="#">Battlefield</a></li>
      <li class="h6"><a href="#">Inside EA</a></li>
    </ul>
    
  </div> -->

<!-- #endregion -->
