<link rel="stylesheet" href="../css/main.css" />


  <div class="tabs-wrapper">
    <ul>
      <li class="h6"><a href="#">Notizie EA</a></li>
      <li class="h6"><a href="#">EA Play</a></li>
      <li class="h6"><a href="#">FIFA</a></li>
      <li class="h6"><a href="#">F1</a></li>
      <li class="h6"><a href="#">Apex Legends</a></li>
      <li class="h6">
        <a href="#">The Sims<sup>tm</sup> 4</a>
      </li>
      <li class="h6"><a href="#">Battlefield</a></li>
      <li class="h6"><a href="#">Inside EA</a></li>
    </ul>
    
  </div>

