<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://kit.fontawesome.com/2975f57649.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="bg-success">
  <!-- nav1 -->
    <section class="navbar1">
        <div class="navbar-head d-flex justify-content-end align-items-center">
            <i class="fa-regular fa-user" data-bs-toggle="offcanvas" href="#offcanvasDark1" role="button"
                aria-controls="offcanvasDark1"></i>
            <i class="fa-solid fa-question" data-bs-toggle="offcanvas" href="#offcanvasDark2" role="button"
            aria-controls="offcanvasDark2"></i>
            <a class="navbar1-link" href="#">
                <!--EA-->
                <div class="navbar1-svg-container">
                    <svg viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" focusable="false"
                        style="pointer-events: none; display: block; width: 100%; height: 100%;">
                        <g>
                            <path
                                d="M19.766,8.372L6.927,8.392l-2.093,3.337l12.818-0.004L19.766,8.372 M14.221,20.518c-0.151,0-7.604,0.016-8.114,0.016 c0.249-0.393,1.665-2.611,1.738-2.733c0.163,0,5.014,0,5.271,0l2.122-3.354L3.117,14.467l-2.114,3.342l2.827-0.005L0,23.874h16.151 c0.286-0.453,5.654-9.017,5.904-9.412c0.219,0.334,1.664,2.623,1.9,3.002c-0.363,0-1.682,0-1.682,0l-2.101,3.337 c0,0,0.009,0,0.029,0c0.428,0,5.719,0,5.875,0c0.085,0.135,1.827,2.876,1.921,3.023H32L22.038,8.127 C21.646,8.738,14.311,20.374,14.221,20.518">
                            </path>
                        </g>
                    </svg>
                </div>
            </a>
        </div>

        <div class="offcanvas offcanvas-top bg-transparent show" tabindex="-1" id="offcanvasDark1"
            aria-labelledby="offcanvasDark1Label">
            <div class="offcanvas-header justify-content-end">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="offcanvas-body d-flex flex-column flex-sm-row justify-content-center align-items-sm-center pb-5 ps-5 ms-5 gap-3 gap-sm-5">
              <a href="#">
                <div class="d-flex flex-row flex-lg-column align-items-center gap-3 gap-lg-1 hover-translation">
                  <img class="img-nav1" src="../assets/images/eaglobalnav-iconsignin.svg" alt="Accedi" />
                  <p class="text-white">Accedi</p>
                </div>
              </a>
              <a href="#">
              <div class="d-flex flex-row flex-lg-column align-items-center gap-3 gap-lg-1 hover-translation">
                <img
                  class="img-nav1" src="../assets/images/eaglobalnav-iconregister.svg" alt="Crea Account" />
                  <p class="text-white" >Crea Account</p>
              </div>
            </a>
            </div>
        </div>
        <div class="offcanvas offcanvas-top bg-transparent" tabindex="-1" id="offcanvasDark2"
            aria-labelledby="offcanvasDark2Label">
            <div class="offcanvas-header justify-content-end">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="offcanvas-body d-flex text-white flex-column flex-sm-row justify-content-center align-items-sm-center">
                <div class="container d-flex flex-column justify-content-center align-items-start align-items-sm-center">
                    <p>Accedi</p>
                </div>
                <div class="container d-flex flex-column justify-content-center align-items-start align-items-sm-center">
                    <p>Crea Account</p>
                </div>
            </div>
        </div>
    </section>
    
  <!-- fine nav1 -->
    <main style="height: 120vh;">

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>