<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offcanvas navbar 2</title>
    <script src="https://kit.fontawesome.com/2975f57649.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="bg-success">

    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        Link with href</a>
    <section class="offcanvas-navbar2">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">

                    <a class="navbar-brand pb-2" href="#">
                        <img src="https://media.contentapi.ea.com/content/dam/eacom/common/ea-wordmark-network-nav-coral.svg"
                            alt=""></a>

                </h5>
                <svg x="0px" y="0px" viewBox="0 0 40 40" class="btn-close" data-bs-dismiss="offcanvas"
                    aria-label="Close">
                    <g viewBox="0 0 16 16">
                        <path fill-rule="evenodd" style="stroke:currentColor" fill="none" clip-rule="evenodd"
                            d="M20.2019 36.5256C30.433 36.5256 38.7269 28.4553 38.7269 18.5C38.7269 8.54472 30.433 0.474365 20.2019 0.474365C9.9708 0.474365 1.67688 8.54472 1.67688 18.5C1.67688 28.4553 9.9708 36.5256 20.2019 36.5256Z"
                            stroke-width="0.95"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.1566 13.1711C15.7806 12.8052 15.1709 12.8052 14.7949 13.1711C14.4189 13.537 14.4189 14.1302 14.7949 14.4961L18.8392 18.4314L14.6543 22.5035C14.2783 22.8694 14.2783 23.4626 14.6543 23.8285C15.0304 24.1944 15.64 24.1944 16.0161 23.8285L20.201 19.7564L24.3857 23.8284C24.7618 24.1943 25.3714 24.1943 25.7475 23.8284C26.1235 23.4625 26.1235 22.8693 25.7475 22.5034L21.5627 18.4314L25.6069 14.4962C25.9829 14.1303 25.9829 13.5371 25.6069 13.1712C25.2309 12.8053 24.6212 12.8053 24.2452 13.1712L20.201 17.1064L16.1566 13.1711Z">
                        </path>
                    </g>
                </svg>
            </div>
            <div class="offcanvas-body">
                <div class="accordion accordion-flush">
                    <!-- primo accordion -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                                Giochi<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <!-- sub accordion -->

                                <!-- sub-accordion 1 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-sub-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-sub-collapseOne" aria-expanded="false"
                                                aria-controls="panelsStayOpen-sub-collapseOne">
                                                ESPLORA I GIOCHI<i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-sub-collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="panelsStayOpen-sub-headingOne">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li><a class="accordion-item" href="#">Ultimi giochi</a></li>
                                                    <li><a class="accordion-item" href="#">Prossimamente</a></li>
                                                    <li><a class="accordion-item" href="#">Giochi gratuiti</a></li>
                                                    <li><a class="accordion-item" href="#">EA SPORTS</a></li>
                                                    <li><a class="accordion-item" href="#">EA Originals</a></li>
                                                    <li><a class="accordion-item" href="#">Libreria dei giochi</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- sub-accordion 2 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-sub-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-sub-collapseTwo" aria-expanded="false"
                                                aria-controls="panelsStayOpen-sub-collapseTwo">
                                                PIATTAFORME<i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-sub-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="panelsStayOpen-sub-headingOne">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li><a class="accordion-item" href="#">PlayStation®5</a></li>
                                                    <li><a class="accordion-item" href="#">Xbox Series X</a></li>
                                                    <li><a class="accordion-item" href="#">Nintendo Switch™</a></li>
                                                    <li><a class="accordion-item" href="#">Cellulari</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- secondo accordion -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Altre esperienze<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <!-- sub accordion -->

                                <!-- sub-accordion 1 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">
                                                EA Play
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 2 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">
                                                l'EA app
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 3 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">
                                                Competizione videoludiche
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 4 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">
                                                Diretta di EA Play
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- terzo accordion -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Informazioni<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <!-- sub accordion -->

                                <!-- sub-accordion 1 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Società

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 2 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">EA Studi

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 3 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Lavora con noi

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 4 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">La nostra
                                                tecnologia

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 5 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">EA Partners

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 6 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Notizie

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 78 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Inside EA

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- quarto accordion -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                Impegni<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <!-- sub accordion -->

                                <!-- sub-accordion 1 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">I nostri impegni

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 2 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Gioco positivo

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 3 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Diversità e
                                                inclusione

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 4 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Impatto sociale

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 5 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Persone e cultura

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 6 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Ambiente

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- quinto accordion -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFive">
                                Risorse<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                <!-- sub accordion -->

                                <!-- sub-accordion 1 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Aiuto
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 2 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Forum
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 3 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Filtro famiglia
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 4 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Accessibilità
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 5 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Stampa

                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 6 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Investitori
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <!-- sub-accordion 78 -->
                                <div class="accordion sub-accordion accordion-flush">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">Test di gioco
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>