<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pagination</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div id="paginationIndicators" class="carousel slide custom-pagination" data-bs-wrap="false">
      <div class="d-flex justify-content-center mt-3">
        <div class="carousel-item active">
          <div class="d-flex flex-wrap justify-content-center gap-4">
            <a class="position-relative d-flex justify-content-center align-items-center box-container"
              href="https://www.ea.com/it-it/games/fifa/fifa-23">
              <img class="position-absolute top-0 start-0 box-background"
                src="../assets/images/eas-fifa22-gen5-ue-keyart-horz-f23logo.jpg.adapt.crop1x1.767p.jpg">
              <img class="position-absolute box-logo" style="width: 130px; transition: all 300ms ease-out;"
                src="../assets/images/fifa23-logo-white-stacked.svg" alt="">
              <p class="position-absolute b3">Sito ufficiale</p>
            </a>
            <a class="position-relative d-flex justify-content-center align-items-center box-container"
              href="https://www.ea.com/it-it/games/apex-legends/apex-legends-mobile">
              <img class="position-absolute top-0 start-0 box-background"
                src="../assets/images/apex-mobile-keyart-1x1.jpg.adapt.crop1x1.767p.jpg">
              <img class="position-absolute box-logo" style="width: 70px; transition: all 300ms ease-out;"
                src="../assets/images/apex-mobile-logo.svg" alt="">
              <p class="position-absolute b3">Sito ufficiale</p>
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-wrap justify-content-center gap-4">
            <a class="position-relative d-flex justify-content-center align-items-center box-container"
              href="https://www.ea.com/it-it/games/f1/f1-22">
              <img class="position-absolute top-0 start-0 box-background"
              src="../assets/images/1-1-gamebox-f122-keyart-1.png.adapt.crop1x1.767p.png">
              <img class="position-absolute box-logo" style="width: 160px; transition: all 300ms ease-out;"
              src="../assets/images/f122-gamebox-logo.png" alt="">
              <p class="position-absolute b3">Sito ufficiale</p>
            </a>
            <a class="position-relative d-flex justify-content-center align-items-center box-container"
              href="https://www.ea.com/it-it/games/battlefield/battlefield-2042">
              <img class="position-absolute top-0 start-0 box-background"
              src="../assets/images/battlefield-2042-key-art.jpg.adapt.crop1x1.767p.jpg">
              <img class="position-absolute box-logo" style="width: 160px; transition: all 300ms ease-out;"
              src="../assets/images/battlefield-2042-mono-logo-svg.svg" alt="">
              <p class="position-absolute b3">Sito ufficiale</p>
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-wrap justify-content-center gap-4">
            <a class="position-relative d-flex justify-content-center align-items-center box-container"
              href="https://www.ea.com/it-it/games/apex-legends">
              <img class="position-absolute top-0 start-0 box-background"
              src="../assets/images/apex-legends-keyart.jpg.adapt.crop1x1.767p.jpg">
              <img class="position-absolute box-logo" style="width: 100px; transition: all 300ms ease-out;"
              src="../assets/images/apex-legends-mono-logo.svg" alt="">
              <p class="position-absolute b3">Sito ufficiale</p>
            </a>
            <a class="position-relative d-flex justify-content-center align-items-center box-container"
              href="https://www.ea.com/it-it/games/the-sims/the-sims-4">
              <img class="position-absolute top-0 start-0 box-background"
              src="../assets/images/the-sims-4-keyart.jpg.adapt.crop1x1.767p.jpg">
              <img class="position-absolute box-logo" style="width: 160px; transition: all 300ms ease-out;"
              src="../assets/images/game-box-logo-thesims4-refresh.svg" alt="">
              <p class="position-absolute b3">Sito ufficiale</p>
            </a>
          </div>
        </div>
      </div>
      <nav class="container d-flex justify-content-center align-items-center mt-3" aria-label="Page navigation example">
        <ul class="pagination carousel-indicators d-flex align-items-center">
          <li class="l4 page-item pagination-border-right px-1 py-3" type="button" data-bs-target="#paginationIndicators" data-bs-slide="prev">Precedente</li>
          <li class="l4 page-item active ms-3" type="button" data-bs-target="#paginationIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1">1</li>
          <li class="l4 page-item ms-3" type="button" data-bs-target="#paginationIndicators" data-bs-slide-to="1" aria-label="Slide 2">2</li>
          <li class="l4 page-item ms-3 me-3" type="button" data-bs-target="#paginationIndicators" data-bs-slide-to="2" aria-label="Slide 3">3</li>
          <li class="l4 page-item pagination-border-left px-1 py-3" type="button" data-bs-target="#paginationIndicators" data-bs-slide="next">Prossima</li>
        </ul>
      </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>