.diversityheader {
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 36px;
    text-align: center;
}

.diversityhero {
    h3 {
        font-size: 44px;
    }
}

section {
    &.corporatediversity {
        p {
            margin: 9px 0px;
            &#lastpdiversity {
                margin-bottom: 55px;
            }
        }
    }
    .diversitylink {
        text-decoration: none;
        color: #960E0E;
    }
}

.diversityitem {
    display: flex;
    height: 56px;
    margin-top: 24px;
    .diversityimgcont {
        margin-right: 16px;
    }
}

.diversitygreycardcontainer {
    width: 70vw;
    border: 1px solid black;
    margin: auto;
    .diversitygreycard {
        width: 25%;
        border: 1px solid black;
        margin: 0px 0px 16px;
        padding: 0px 8px;
        img {
            width: 100%;
            height: auto;
        }
        .textcontent {
            padding: 24px;
            background-color: rgb(243, 243, 243);
            height: 80%;
            h3 {
                font-size: 24px;
                font-weight: 700;
                margin: 0px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    .dgc5, .dgc6, .dgc7 {
        margin-top: 90px;
        .textcontent {
            height: 77%;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .diversitygreycardcontainer {
        gap: 20px;
        .diversitygreycard {
            width: 33vw !important;
            .textcontent {
                height: 50%;
            }
        }
        .dgc5, .dgc6 {
            margin-top: 0px;
            .textcontent {
                height: 63%;
            }
        }
        .dgc7 {
            margin-top: 10px;
        }

    }
}

@media only screen and (max-width: 767px) {
    .diversitygreycardcontainer {
        flex-direction: column;
        gap: 30px;
        width: 100%;
        .diversitygreycard {
            width: 100% !important;
            p {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width: 1456px) {
    .diversitygreycardcontainer {
        width: 85vw !important;
        max-width: 1600px !important;
        .textcontent {
            height: 50% !important;
        }
    }
}

.diversitytablecontainer {
    margin-top: 40px;
    @media only screen and (max-width: 800px) {
        max-width: 90vw;
        overflow-x: scroll;
        overflow-y: hidden;

    }
    .diversitytable {
    width: 100%;
    margin: 0px;
    overflow: scroll !important;
    tr {
        height: 72.5px;
    }
    thead {
        th {
            background-color: #990703;
            font-size: 14px;
            color: #f3f3f3;
            font-family: 'ElectronicArtsText', Verdana;
            border: 4px solid white;
            border-radius: 10px !important;
            height: 80px;
            min-width: 100px;
        }
        .diversityth {
            height: 72.5px;
        }
    }
    td {
        font-weight: 400;
        margin: 3px !important;
        padding-left: 30px;
    }
}
}

