.positiveplayhero {
    position: relative;
    h3 {
        position: absolute;
        text-align: center;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        font-size: 38px;
        width: 70%;
    }
}

.pplayeacard {
    max-width: 85vw;
}

.pplay-main {
    width: 85.15vw;
    max-width: 1120px;
    margin: auto;
    p {
        line-height: 27px;
        font-size: 18px;
        color: rgb(22,22,22);
        margin: 18px 0px;
        &.pplayintro {
            margin: 80px 0px;
        }
    }
    section {
        margin: 80px 0px;
        &.pplayaccessibility {
            margin-top: -20px !important;
        }
        &.pplaycardpositive, &.pplayaccessibility {
            display: flex;
            flex-direction: column;
            .btn-container {
                align-self: center !important;
                .btn-darkred {
                    background-color: #960E0E !important;
                    &:hover {
                        background-color: #960E0E !important;
                    }
                }

            }
        }
        &.pplayimpegni {
            .impegnicontainer {
                height: 24.5vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-top: 40px;
                .cardimpegni {
                    width: 33.3%;
                    height: 50%;
                    padding: 0px 8px;
                    margin-bottom: 16px;
                    .impegnilink {
                        height: 100%;
                        background-image: url('https://media.contentapi.ea.com/content/dam/eacom/commitments/common/eacom-our-commnitments-cta-orange.jpg.adapt.crop16x9.652w.jpg');
                        background-size: cover;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: transform 0.5s ease, box-shadow 0.5s ease;
                        &:hover {
                            transform: translateY(-10px);
                            box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
                          }
                        h3 {
                            color: #f3f3f3;
                            font-size: 24px;
                            text-align: center;
                            font-weight: 700;
                            margin-bottom: 0px;
                            width: 90%;
                        }
                    }
                }
            }
        }
        &.pplayinside {
            .cards-container {
                display: flex;
                flex-direction: column;
                .btn-container {
                    align-self: center;
                    display: inline !important;
                }
            }
        }
    
    .header.d5 {
        font-size: 32px;
        color: #960E0E;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 11.2px;
    }
}
    .pplaycardcontainer {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: -50px !important;
        .pplaycard {
            margin: 0px 0px 16px;
            padding: 0px 8px;
            width: 42vw;
            img {
                width: 100%;
                height: auto;
            }
            .text {
                background-color: rgb(243, 243, 243);
                padding: 24px;
                h3 {
                    margin-bottom: 0px;
                    font-weight: 700;
                    letter-spacing: -0.6px;
                    line-height: 32px;
                }
            }
        }
    }
}






@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .pplay-main {
        section {
            margin: 40px 0px;
            &.pplayaccessibility {
                h3 {
                margin-top: 40px;
                }
                p {
                    margin-bottom: 30px !important;
                }
            }
            &.pplayinside {
                h3 {
                    margin-bottom: 0px !important;
                }
            }
        }
        p {
            font-size: 16px;
            margin: 16px 0px !important;
            &.pplayintro {
                margin-top: 100px !important;
            }  
        }
        h3 {
            font-size: 22px !important;
        }
    .positiveplayhero {
        height: 26vw;
    }
    .impegnicontainer {
        height: auto !important;
        .cardimpegni {
            width: 50% !important;
            height: 18.5vw !important;
            margin: 0px 0px 24px !important;
            padding: 0px 12px !important;
            h3 {
                font-size: 20px !important;
            }
        }
    }
}
}

@media only screen and (max-width: 767px) {
    .positiveplayhero {
        height: auto;
        img {
            min-height: 250px;
        }
        h3 {
            font-size: 36px;
            width: 100vw;
        }
    }
    .pplay-main {
        section {
            margin: 40px 0px;
            &.pplayaccessibility {
                h3 {
                margin-top: 40px;
                }
                p {
                    margin-bottom: 30px !important;
                }
            }
            &.pplayinside {
                h3 {
                    margin-bottom: 0px !important;
                }
            }
        }
        p {
            font-size: 16px;
            margin: 16px 0px !important;
            &.pplayintro {
                margin-top: 40px !important;
            }  
        }
        h3 {
            font-size: 22px !important;
        }
    .impegnicontainer {
        height: auto !important;
        .cardimpegni {
            width: 100% !important;
            height: 35vw !important;
            margin: 0px 0px 20px !important;
            padding: 0px !important;
            h3 {
                font-size: 20px !important;
            }
        }
    }
}
.pplaycardcontainer {
    flex-direction: column;
    .pplaycard {
        width: 85vw !important;
    }
}
.pplayeacard {
    width: 85vw !important;
}
.pplaybtn {
    width: 85vw !important;
}
}

@media only screen and (min-width: 1456px) {
    .positiveplayhero {
        h3 {
            font-size: 54px;
        }
    }
    .impegnicontainer {
        max-height: 321.31px;
    }
}