.last-game{
    .container-fluid{
        .sport-bg{
            .container{
                .row{
                    justify-content: center;
                    .box{
                        aspect-ratio: 1/1;
                        .sidebar-little-box{
                            width: 100%;
                            height: 100%;
                            
                        }
                    }
                }
            }
        }
    }
}