@font-face {
  font-family: "ElectronicArtsDisplay";
  src: url(/assets/fonts/ElectronicArtsDisplay-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsDisplay";
  src: url(/assets/fonts/ElectronicArtsDisplay-Bold.woff2) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(/assets/fonts/ElectronicArtsText-Light.woff2) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(/assets/fonts/ElectronicArtsText-LightItalic.woff2) format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(/assets/fonts/ElectronicArtsText-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(/assets/fonts/ElectronicArtsText-Italic.woff2) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(/assets/fonts/ElectronicArtsText-Bold.woff2) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsText";
  src: url(/assets/fonts/ElectronicArtsText-BoldItalic.woff2) format("woff");
  font-weight: 600;
  font-style: italic;
}
/*tipografia*/
/*unisco le liste per estrarre i root*/
/*root*/
:root {
  --body-font-family-ElectronicArtsText: "ElectronicArtsText", "Verdana", "Helvetica", "Arial", sans-serif;
  --body-font-weight-light: 300;
  --body-font-weight-normal: 400;
  --body-font-weight-bold: 600;
  --body-letter-spacing-normal: normal;
  --h1-font-size-tablet: 44px;
  --h1-font-size-desktop: 48px;
  --h1-font-weight-400: 400;
  --h1-letter-spacing-mobile: normal;
  --h1-letter-spacing-tablet: normal;
  --h1-letter-spacing-desktop: normal;
  --h1-line-height-mobile: 1.25;
  --h1-line-height-tablet: 1.25;
  --h1-line-height-desktop: 1.35;
  --h1-margin-mobile: 0.65em 0;
  --h1-margin-tablet: 0.65em 0;
  --h1-margin-desktop: 0.65em 0;
  --h3-font-size-desktop: 36px;
  --h3-font-size-tablet: 32px;
  --h3-font-size-mobile: 28px;
  --h3-letter-spacing-desktop: normal;
  --h3-letter-spacing-tablet: normal;
  --h3-letter-spacing-mobile: normal;
  --h3-line-height-desktop: 1.35;
  --h3-line-height-tablet: 1.25;
  --h3-line-height-mobile: 1.25;
  --h3-font-weight-400: 400;
  --h3-margin-mobile: 0.75em 0;
  --h3-margin-tablet: 0.75em 0;
  --h3-margin-desktop: 0.65em 0;
  --d4-font-size-desktop: 44px;
  --d4-font-size-tablet: 40px;
  --d4-font-size-mobile: 32px;
  --d4-letter-spacing-desktop: normal;
  --d4-letter-spacing-tablet: normal;
  --d4-letter-spacing-mobile: normal;
  --d4-line-height-desktop: 1.15;
  --d4-line-height-tablet: 1.15;
  --d4-line-height-mobile: 1.15;
  --d4-font-style-normal: normal;
  --d4-font-weight-600: 600;
  --d4-font-family-electronicArtsDisplay: "ElectronicArtsDisplay", "Verdana", "Helvetica", "Arial", sans-serif;
}

/*selectors*/
body {
  font-family: var(--body-font-family-ElectronicArtsText);
  font-weight: var(--body-font-weight-light);
  font-weight: var(--body-font-weight-normal);
  font-weight: var(--body-font-weight-bold);
  letter-spacing: var(--body-letter-spacing-normal);
}

h1 {
  font-weight: var(--h1-font-weight-400);
  letter-spacing: var(--h1-letter-spacing-mobile);
  line-height: var(--h1-line-height-mobile);
  margin: var(--h1-margin-mobile);
}

h3 {
  font-size: var(--h3-font-size-mobile);
  letter-spacing: var(--h3-letter-spacing-mobile);
  line-height: var(--h3-line-height-mobile);
  font-weight: var(--h3-font-weight-400);
  margin: var(--h3-margin-mobile);
}

@media only screen and (min-width: 1456px) {
  h1 {
    font-size: var(--h1-font-size-desktop);
    letter-spacing: var(--h1-letter-spacing-desktop);
    line-height: var(--h1-line-height-desktop);
    margin: var(--h1-margin-desktop);
  }
  h3 {
    font-size: var(--h3-font-size-desktop);
    letter-spacing: var(--h3-letter-spacing-desktop);
    line-height: var(--h3-line-height-desktop);
    margin: var(--h3-margin-desktop);
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: var(--h1-font-size-tablet);
    letter-spacing: var(--h1-letter-spacing-tablet);
    line-height: var(--h1-line-height-tablet);
    margin: var(--h1-margin-tablet);
  }
  h3 {
    font-size: var(--h3-font-size-tablet);
    letter-spacing: var(--h3-letter-spacing-tablet);
    line-height: var(--h3-line-height-tablet);
    margin: var(--h3-margin-tablet);
  }
}
/*clasess*/
.d4 {
  font-size: var(--d4-font-size-mobile);
  letter-spacing: var(--d4-letter-spacing-mobile);
  line-height: var(--d4-line-height-mobile);
  font-style: var(--d4-font-style-normal);
  font-weight: var(--d4-font-weight-600);
  font-family: var(--d4-font-family-electronicArtsDisplay);
}

@media only screen and (min-width: 1456px) {
  .d4 {
    font-size: var(--d4-font-size-desktop);
    letter-spacing: var(--d4-letter-spacing-desktop);
    line-height: var(--d4-line-height-desktop);
  }
}
@media only screen and (min-width: 1024px) {
  .d4 {
    font-size: var(--d4-font-size-tablet);
    letter-spacing: var(--d4-letter-spacing-tablet);
    line-height: var(--d4-line-height-tablet);
  }
}

/*# sourceMappingURL=typography.css.map */
