.card {
    // background-color: #green;
    height: 50rem;
    width: 33.3%;
    // border: 1px solid black;
    box-shadow: .5px .5px 10px; 
    
    .img {
        width: 100%;
        
        img {
            margin: 0;
            width: 100%;
        }
        
        
    }

    .spans {
        display: flex;
        margin: 1rem;

        span {
         margin-right: 1rem;   
        }
    }

    h3 {
        margin: 1rem;
    }

    h6 {
        margin: 1rem;
    }
}