/*Sezione giochi in evidenza*/
body[style^='overflow']{
  padding-right: 0px !important;
}

.wrapper{
  position: relative;
  top: 70px;
}

#giochi-in-evidenza {
  max-width: 1456px;
  margin: 0 auto;
}

.giochi-in-evidenza-text {
  text-align: center;
  margin: 3rem 0 2rem 0;
}

.boxes-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.gie-inner-section {
  display: flex;
  justify-content: center;
  margin-block: 2.7rem;
}