.socialimpacthero {
    position: relative;
    h3 {
        position: absolute;
        text-align: center;
        color: white;
        top: 50%;
        left: 50%;
        font-size: 38px;
        width: 70%;
        
        @media screen and (min-width:1456px) {
            font-size: 54px !important;
        }
    }
}

.socialimpactintro {
    margin-top: 30px !important;
    @media only screen and (min-width: 1024px) and (max-width: 1200px) {
        margin-top: -20px !important;
    }
    @media only screen and (min-width: 1201px) {
        margin-top: 60px !important;
    }
}



.impegnilinkblue {
    height: 100%;
    background-image: url('../../assets/images/commitments/impegnilinkblue.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
      }
    h3 {
        color: #f3f3f3;
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 0px;
        width: 90%;
    }
}

.blueimpactheader {
    color: #0A5681 !important;
}

.impactcardscontainer {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .impactcardscard {
        width: 33.3%;
        height: 27vw;
        max-height: 310px;
        display: flex;
        justify-content: center;
        align-items: center;
        .impacttile {
            width: 95%;
            height: 95%;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,42,77,1) 0%, rgba(90,182,201,1) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 4vw;
            .impactcardh3, p {
                color: #f3f3f3;
                text-align: center;
                font-weight: 700;
                max-width: 80%;
            }
    }
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .impactcardscard {
        width: 48% !important;
        height: 33vw !important; 
        max-height: 310px;
        display: flex;
        justify-content: center;
        align-items: center;
        .impacttile {
            width: 95%;
            height: 95%;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,42,77,1) 0%, rgba(90,182,201,1) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 4vw;
            .impactcardh3, p {
                color: #f3f3f3;
                text-align: center;
                font-weight: 700;
                max-width: 80%;
            }
            .impactcardh3 {
                font-size: 40px !important;
            }
    }
    }
    .socialimpactintro {
        margin-top: 0px !important;
        p {
            margin-top: 0px !important;
        }
    }
}

@media only screen and (min-width: 530px) and (max-width: 767px) {

    .impactcardscard {
        width: 100% !important;
        height: 35vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .impacttile {
            width: 95%;
            height: 95%;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,42,77,1) 0%, rgba(90,182,201,1) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .impactcardh3, p {
                color: #f3f3f3;
                text-align: center;
                font-weight: 700;
                max-width: 80%;
            }
            .impactcardh3 {
                font-size: 40px !important;
            }
    }
    }
}

@media only screen and (min-width: 421px) and (max-width: 529px) {
    .impactcardscard {
        width: 100% !important;
        height: 45vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .impacttile {
            width: 95%;
            height: 95%;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,42,77,1) 0%, rgba(90,182,201,1) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .impactcardh3, p {
                color: #f3f3f3;
                text-align: center;
                font-weight: 700;
                max-width: 90% !important;
            }
            .impactcardh3 {
                font-size: 36px !important;
                margin: 0px !important;
            }
    }
    }
}

@media only screen and (max-width: 420px) {
    .impactcardscard {
        width: 100% !important;
        height: 60vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .impacttile {
            width: 95%;
            height: 95%;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,42,77,1) 0%, rgba(90,182,201,1) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .impactcardh3, p {
                color: #f3f3f3;
                text-align: center;
                font-weight: 700;
                max-width: 90% !important;
            }
            .impactcardh3 {
                font-size: 36px !important;
                margin: 0px !important;
            }
    }
    }
}

@media only screen and (max-width: 767px) {
    .socialimpacthero {
        h3 {
            transform: translate(-50%, -50%) !important;
        }
    }
}
